div.rfr_id {
  margin: {
    top: 5px;
  }
  select {
    margin-right: -10px;
  }
}

.error_section {
  margin: 1em;
}

.umlaut-citation-link {
  text-align: right;
  padding: {
    top: $line-height-base;
  }
}

.popover {
  .article-finding {
    width: 30em;
  }
  .issn {
    width: 40em;
    p {
      margin-bottom: $line-height-base/2;
    }
  }
  .doi {
    width: 35em;
  }
  max-width: 50em;
}

.glyphicon {
  color: $brand-primary;
  font-size: medium;
  opacity: .75;
}

.input-group-addon {
  padding: 3px;
}

.nyu-tip {
  @extend .visible-lg;
  margin-top: 1em;
}

.form-horizontal {
  .title_search_type {
    margin-bottom: 5px !important;
  }

  .title_search {
    vertical-align: top !important;
  }

  .control-label {
    max-width: 11.5em;
  }
}

.form-inline.form-very-inline {
  margin-bottom: 1em;
  label:first-of-type {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: .5em;
  }
  label, select, input {
    vertical-align: middle;
  }
}

#date_year, #date_month, #date_day {
  @extend .col-md-4;
}

.nyu-az a {
  &:hover {
    color: #fff;
  }
}

.nav li#bobcat_beta a {
  background-color: #F8E71C;
}
