div.rfr_id {
  margin: {
    top: 5px;
  }
  select {
    margin-right: -10px;
  }
}

.error_section {
  margin: 1em;
}

.umlaut-citation-link {
  text-align: right;
  padding: {
    top: $baseLineHeight;
  }
}

.popover {
  .article-finding {
    width: 300px;
  }
  .issn {
    width: 400px;
    p {
      margin-bottom: $baseLineHeight/2;
    }
  }
  .doi {
    width: 500px;
  }
}
