[class^="icons-nyu-content-type-"],
[class*=" icons-nyu-content-type-"] {
  @include nyu-content-type-icons;
}

.icons-nyu-content-type-archives {
  width: 39;
  height: 37;
}

.icons-nyu-content-type-review {
  width: 54;
  height: 30;
}

.icons-nyu-content-type-essay {
  width: 23;
  height: 30;
}

.icons-nyu-content-type-database {
  width: 31;
  height: 26;
}

.icons-nyu-content-type-newspaper {
  width: 39;
  height: 24;
}

.icons-nyu-content-type-other {
  width: 24;
  height: 27;
}

.icons-nyu-content-type-text_resource {
  width: 29;
  height: 22;
}

.icons-nyu-content-type-unknown {
  width: 30;
  height: 39;
}

.icons-nyu-content-type-book_chapter {
  @extend .icons-nyu-content-type-book
}

.icons-nyu-content-type-conference_paper,
.icons-nyu-content-type-conference_proceedings,
.icons-nyu-content-type-dissertation,
.icons-nyu-content-type-thesis,
.icons-nyu-content-type-working_paper, {
  @extend .icons-nyu-content-type-essay
}

.icons-nyu-content-type-book_review,
.icons-nyu-content-type-film_review, {
  @extend .icons-nyu-content-type-review
}

