@media (max-width: $screen-lg) {
  @include tabs-responsive;
  .search {
    &.with-tabs {
      @include border-top-left-radius(4px);
    }
  }
}

@media (max-width: $screen-md) {
  label {
    &:not(.doi) {
      height: 1.5em;
    }
    margin-left: 0px;
  }
}

@media (max-width: $screen-sm) {
  .umlaut-citation {
    font: {
      size: $font-size-base*1.25
    }
    line-height: $line-height-base*2;
    dl {
      dt, dd {
        padding: {
          top: $line-height-base;
        }
      }
    }
  }

  .umlaut-citation-link {
    text-align: left;
    font: {
      size: $font-size-base*1.25
    }
    line-height: $line-height-base*2;
    padding: {
      top: $line-height-base*2;
    }
  }
}

@media (max-width: $screen-xs) {
  div.rfr_id {
    select {
      width: auto;
      margin: {
        right: 0px;
      }
    }
  }
}
