@media (max-width: 1200px) {
  @include tabs-responsive;
  .search {
    &.with-tabs {
      @include border-top-left-radius(4px);
    }
  }
}

@media (max-width: 979px) and (min-width: 480px) {
  .form-horizontal {
    .control-group {
      & > .controls {
        & > label {
          & + input {
            display: block;
            margin-top: 5px;
          }
          display: block;
          float: left;
          text-align: right;
          padding-top: 5px;
          margin-left: -150px;
          clear: both;
          width: 140px;
          vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .umlaut-citation {
    font: {
      size: $baseFontSize*1.25
    }
    line-height: $baseLineHeight*2;
    dl {
      dt, dd {
        padding: {
          top: $baseLineHeight;
        }
      }
    }
  }

  .umlaut-citation-link {
    text-align: left;
    font: {
      size: $baseFontSize*1.25
    }
    line-height: $baseLineHeight*2;
    padding: {
      top: $baseLineHeight*2;
    }
  }
}

@media (max-width: 480px) {
  div.rfr_id {
    select {
      width: auto;
      margin: {
        right: 0px;
      }
    }
  }
}
