.search {
  @include background-image(linear-gradient(color-stops($searchBackgroundColor, darken($searchBackgroundColor, 5%))));
  background: {
    color: $searchBackgroundColor;
  }

  padding: $baseLineHeight;
  
  margin: {
    top: 0px;
  }

  .search-section {
    border-top: 1px solid $searchBorderColor;

    input[type="text"] {
      padding:{ 
        left: 24px;
        top: 5px;
        bottom: 5px;
      }
      background: {
        image: url(image_path("magnifier.png"));
        repeat: no-repeat;
        position: 6px 50%;
      }
    }
  }
  
  #primary-search {
    border-top: none;
  }
}

