$baseFontSize:                              12px;
// $baseFontFamily:                            'Muli';
$smallFontSize:                             $baseFontSize - 1;
$largeFontSize:                             $baseFontSize + 2;
$baseLineHeight:                            12px;
$linkColor:                                 blue;
$nyuLibrariesDarkBrown:                     #653d24 !default;
$nyuLibrariesLightBrown:                    #E0D8C9 !default;
$nyuLibrariesAzBlue:                        #0000ee !default;
$nyuLibrariesBorderColor:                   #653d24 !default;
$nyuLibrariesBackgroundColor:               #000000 !default;
$maxSearchLabelWidth:                       140px !default;
$searchBackgroundColor:                     darken(whiteSmoke, 5%) !default;
$resultsBackgroundColor:                    white !default;
$breadcrumbsBackgroundColor:                $searchBackgroundColor;
$searchBorderColor:                         darken($searchBackgroundColor, 10%) !default;
$tabBackgroundColor:                        lighten($searchBackgroundColor, 5%) !default;
$sidebarHeaderBackgroundColor:              darken($searchBackgroundColor, 10%) !default;
$sidebarBackgroundColor:                    lighten($searchBackgroundColor, 5%) !default;
$azLinkColor:                               $nyuLibrariesAzBlue;
$azBorderColor:                             #BBBBBB;
$azBackgroundColor:                         white;
$azHoverBackgroundColor:                    #EEEEEE;
$padding_standard: 1.5em;
$padding_small: $padding_standard * .6666;
$padding_tiny: $padding_standard * .3333;
