---
http_interactions:
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2014-06-24T15:09:38-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph002736245&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"ctx_tim\"&gt;2014-06-24T15:09:38-04:00&lt;/item&gt;\n  &lt;item
        key=\"sfx.request_id\"&gt;7321440&lt;/item&gt;\n  &lt;item key=\"rft.genre\"&gt;journal&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"sfx.ignore_date_threshold\"&gt;1&lt;/item&gt;\n
        \ &lt;item key=\"req.ip\"&gt;127.0.0.1&lt;/item&gt;\n  &lt;item key=\"rfr.rfr\"&gt;primo.exlibrisgroup.com:primo-nyu_aleph002[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:getRecord><request><![CDATA[<fullViewRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>nyu_aleph002736245</docId></fullViewRequest>]]></request></wsdl:getRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"getRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:getRecordResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://primo.library.edu/PrimoWebServices/services/searcher\"><getRecordReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n  &lt;JAGROOT&gt;\n
        \   &lt;RESULT&gt;\n      &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;\n        &lt;DOC
        LOCAL=&quot;true&quot;&gt;\n          &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;\n
        \           &lt;record&gt;\n              &lt;control&gt;\n           [...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002736245/holdings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: <?xml version = "1.0" encoding = "UTF-8"?><get-hol-list><reply-text>ok</reply-text><reply-code>0000</reply-code><holdings><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002736245/holdings/NYU60000632344"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002736245/holdings/NYU60000632345"></holding></holdings></get-hol-list>
  recorded_at: Tue, 24 Jun 2014 19:09:39 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002736245/holdings/NYU60000632344
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: <?xml version = "1.0" encoding = "UTF-8"?><get-hol><reply-text>ok</reply-text><reply-code>0000</reply-code><record><leader>     cyH
        a22003975i 4500</leader><controlfield tag="001">000632344</controlfield><controlfield
        tag="004">NYUb10434651</controlfield><controlfield tag="005">20080531120117.0</controlfield><controlfield
        tag="007">ta</controlfield><controlfield tag="008">9908195p||||8   0001aaeng0091005</controlfield><datafield
        tag="010" ind1=" " ind2=" "><subfield code="a">73641924</subfield></datafield><datafield
        tag="022" ind1=" " ind2=" "><subfield code="a">0090-5720</subfield></datafield><datafield
        tag="035" ind1="9" ind2=" "><subfield code="a">NYUH10434651/10589797</subfield></datafield><datafield
        tag="852" ind1="0" ind2=" "><subfield code="b">BOBST</subfield><subfield code="c">MAIN</subfield><subfield
        code="h">HB1</subfield><subfield code="i">.J55</subfield><subfield code="a">NNU</subfield></datafield><datafield
     [...]
[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002736245?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: <?xml version = "1.0" encoding = "UTF-8"?><get-record><reply-text>ok</reply-text><reply-code>0000</reply-code><record><info
        type="Items" href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002736245/items"></info><info
        type="Holdings" href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002736245/holdings"></info><info
        type="Filters" href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002736245/filters"></info><leader>00000cas
        a2200421   45M</leader><controlfield tag="001">002736245</controlfield><controlfield
        tag="003">NNU</controlfield><controlfield tag="005">20091005152743.0</controlfield><controlfield
        tag="006">m        d</controlfield><controlfield tag="008">760330d19721990ilufr|    os  0   a0eng</controlfield><datafield
        tag="010" ind1=" " ind2=" "><subfield code="a">73641924</subfield></datafield><datafield
        tag="022" ind1=" " ind2=" "><subfield code="a">0090-5720</subfield><subfield
        code="2">1</subfield></datafield><datafield tag="035" ind1="9" ind2=" "><subfield
        code="a">NYUb10434651</subfield></datafield><datafield tag="035" ind1=" "
        ind2=" "><subfield code="a">GLIS004346512</subfield></datafield><datafield
        tag="035" ind1=" " ind2=" "><subfield code="a">(CStRLIN)NYUG2245895-S</subfield></datafield><datafield
        tag="040" ind1=" " ind2=" "><subfield code="a">DLC</subfield><subfield code="c">DLC</subfield><subfield
        code="d">*OCL*</subfield><subfield code="d">DLC</subfield><subfiel[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/json/lccn:73641924
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"lccn:73641924":{"records":{"006224884":{"recordURL":"http:\/\/catalog.hathitrust.org\/Record\/006224884","titles":["The
        Journal of behavioral economics","Journal of behavioral economics"],"isbns":[],"issns":["905720","357634"],"oclcs":["2245895"],"lccns":["73641924"],"publishDates":["1972"]}},"items":[{"orig":"University
        of California","fromRecord":"006224884","htid":"uc1.b4357560","itemURL":"http:\/\/hdl.handle.net\/2027\/uc1.b4357560","rightsCode":"ic","lastUpdate":"20130821","enumcron":"v.16:1
        (spring 1987)","usRightsString":"Limited (search-only)"},{"orig":"University
        of California","fromRecord":"006224884","htid":"uc1.b4357563","itemURL":"http:\/\/hdl.handle.net\/2027\/uc1.b4357563","rightsCode":"ic","lastUpdate":"20130821","enumcron":"v.16:4
        (winter 1987)","usRightsString":"Limited (search-only)"},{"orig":"University
        of California","fromRecord":"006224884","htid":"uc1.b4357562","itemURL":"http:\/\/hdl.handle.net\/2027\/uc1.b4357562","rightsCode":"ic","lastUpdate":"20130821","enumcron":"v.1[...]
