---
http_interactions:
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2014-06-24T15:30:03-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rft.object_id=110975413975944&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"rft.issn\"&gt;0028-792X&lt;/item&gt;\n  &lt;item key=\"ctx_tim\"&gt;2014-06-24T15:30:03-04:00&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"_stash\"&gt;\n
        \  &lt;hash&gt;\n   &lt;/hash&gt;\n  &lt;/item&gt;\n  &lt;item key=\"ctx_ver\"&gt;Z39.88-2004&lt;/item&gt;\n
        \ &lt;item key=\"rft.eissn\"&gt;2163-3827&lt;/item&gt;\n  &lt;item key=\"rft.place\"&gt;New
        York&lt[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:searchBrief><request><![CDATA[<searchRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator><QueryTerm><IndexField>isbn</IndexField><PrecisionOperator>exact</PrecisionOperator><Value>0028-792X</Value></QueryTerm></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution></searchRequest>]]></request></wsdl:searchBrief></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"searchBrief"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:searchBriefResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://primo.library.edu/PrimoWebServices/services/searcher\"><searchBriefReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n  &lt;JAGROOT&gt;\n
        \   &lt;RESULT&gt;\n      &lt;QUERYTRANSFORMS/&gt;\n      &lt;FACETLIST ACCURATE_COUNTERS=&quot;true&quot;&gt;\n
        \       &lt;FACET NAME=&quot;creator&quot; COUNT=&quot;3&quot;&gt;\n          &lt;FACET_VALUES
        KEY=&quot;White, E&quot; VALUE=&quot;1&quot;/&gt;\n          &lt;FACET_VA[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: <?xml version = "1.0" encoding = "UTF-8"?><get-hol-list><reply-text>ok</reply-text><reply-code>0000</reply-code><holdings><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807742"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807743"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60004671371"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358492"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358493"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358494"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358496"></holding></holdings></get-hol-list>
  recorded_at: Tue, 24 Jun 2014 19:30:06 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807742
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: <?xml version = "1.0" encoding = "UTF-8"?><get-hol><reply-text>ok</reply-text><reply-code>0000</reply-code><record><leader>     ny  a22     3i
        4500</leader><controlfield tag="001">003807742</controlfield><controlfield
        tag="004">002904404</controlfield><controlfield tag="007">ta</controlfield><controlfield
        tag="008">0905194p    8   0001aaeng1000000</controlfield><datafield tag="852"
        ind1=" " ind2=" "><subfield code="b">CU</subfield><subfield code="c">PERIO</subfield><subfield
        code="m">Non-circulating</subfield><subfield code="a">NNCoo</subfield></datafield><datafield
        tag="866" ind1="3" ind2="1"><subfield code="8">1</subfield><subfield code="a">v.81(2005)-</subfield></datafield></record></get-hol>
  recorded_at: Tue, 24 Jun 2014 19:30:06 GMT
[...]
- request:
    method: head
    uri: http://www.extranet.elsevier.com/inca_covers_store/issn/0028792X.gif
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Object Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 24 Jun 2014 19:30:09 GMT
[...]
- request:
    method: head
    uri: http://images.serialssolutions.com/ulrichs/0028792X.gif
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 24 Jun 2014 19:30:09 GMT
[...]
- request:
    method: post
    uri: https://ws.isiknowledge.com/cps/xrpc
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<request xmlns=\"http://www.isinet.com/xrpc41\"
        src=\"app.id=Umlaut\">\n  <fn name=\"LinksAMR.retrieve\">\n    <list>\n      <map/>\n
        \     <map>\n        <list name=\"JCR\">\n          <val>impactGraphURL</val>\n
        \       </list>\n      </map>\n      <map>\n        <map name=\"cite_id\">\n
        \         <val name=\"issn\">0028-792X</val>\n          <val name=\"stitle\">The
        New Yorker</val>\n        </map>\n      </map>\n    </list>\n  </fn>\n</request>\n"
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Pad:
      - avoid browser bug
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" ?>

        <response xmlns="http://www.isinet.com/xrpc41" src="app.id=Umlaut">

        <fn name="LinksAMR.retrieve" rc="OK">

        <map>

        <map name="cite_id">

        <map name="JCR">

        <val name="message">No Result Found</val>

        </map>

        </map>

        </map>

        </fn>

        </response>

'
  recorded_at: Tue, 24 Jun 2014 19:30:10 GMT
[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbiA9ICIxLjAiIGVuY29kaW5nID0gIlVURi04Ij8+PGdl
        dC1yZWNvcmQ+PHJlcGx5LXRleHQ+b2s8L3JlcGx5LXRleHQ+PHJlcGx5LWNv
        ZGU+M[...]
