---
http_interactions:
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2014-07-10T16:18:46-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph002893728&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"ctx_tim\"&gt;2014-07-10T16:18:46-04:00&lt;/item&gt;\n  &lt;item
        key=\"sfx.request_id\"&gt;7391606&lt;/item&gt;\n  &lt;item key=\"rft.genre\"&gt;journal&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"sfx.ignore_date_threshold\"&gt;1&lt;/item&gt;\n
        \ &lt;item key=\"req.ip\"&gt;127.0.0.1&lt;/item&gt;\n  &lt;item key=\"rfr.rfr\"&gt;primo.exlibrisgroup.com:primo-nyu_aleph002[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:getRecord><request><![CDATA[<fullViewRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>nyu_aleph002893728</docId></fullViewRequest>]]></request></wsdl:getRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"getRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:getRecordResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://primo.library.edu/PrimoWebServices/services/searcher\"><getRecordReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n  &lt;JAGROOT&gt;\n
        \   &lt;RESULT&gt;\n      &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;\n        &lt;DOC
        LOCAL=&quot;true&quot;&gt;\n          &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;\n
        \           &lt;record&gt;\n              &lt;control&gt;\n           [...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002893728/holdings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><get-hol-list><reply-text>ok</reply-text><reply-code>0000</reply-code><holdings><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002893728/holdings/NYU60000404086"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002893728/holdings/NYU60000404087"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002893728/holdings/NYU60004276363"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002893728/holdings/NYU60004953757"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002893728/holdings/NYU60000404088"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002893728/holdings/NYU60000404089"></holding></holdings></get-hol-list> '
  recorded_at: Thu, 10 Jul 2014 20:18:50 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002893728/holdings/NYU60000404086
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><get-hol><reply-text>ok</reply-text><reply-code>0000</reply-code><holding><leader>     cyH
        a22003615  4500</leader><controlfield tag="001">000404086</controlfield><controlfield
        tag="004">NYUb10612735</controlfield><controlfield tag="005">20080531115252.0</controlfield><controlfield
        tag="007">he</controlfield><controlfield tag="008">0003294p||||8   0001a|eng0130402</controlfield><datafield
        tag="010" ind1=" " ind2=" "><subfield code="a">08036997 //r84</subfield></datafield><datafield
        tag="022" ind1="0" ind2=" "><subfield code="a">0042-8000</subfield></datafield><datafield
        tag="035" ind1="9" ind2=" "><subfield code="a">NYUH10612735/12373474</subfield></datafield><datafield
        tag="852" ind1="4" ind2=" "><subfield code="a">NNU</subfield><subfield code="b">BOBST</subfield><subfield
        code="c">MFORM</subfield><subfield code="j">Fiche/Per</subfield><subfield
        code="m">Non-circulating</subfi[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002893728/holdings/NYU60000404087
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><get-hol><reply-text>ok</reply-text><reply-code>0000</reply-code><holding><leader>     cyH
        a22001575  4500</leader><controlfield tag="001">000404087</controlfield><controlfield
        tag="004">NYUb10612735</controlfield><controlfield tag="005">20080531115252.0</controlfield><controlfield
        tag="007">hd</controlfield><controlfield tag="008">0109200|||||8   |001|||||001092</controlfield><datafield
        tag="010" ind1=" " ind2=" "><subfield code="a">08036997 //r84</subfield></datafield><datafield
        tag="022" ind1="0" ind2=" "><subfield code="a">0042-8000</subfield></datafield><datafield
        tag="035" ind1="9" ind2=" "><subfield code="a">NYUH10612735/12722404</subfield></datafield><datafield
        tag="852" ind1="4" ind2=" "><subfield code="a">NNU</subfield><subfield code="b">BOBST</subfield><subfield
        code="c">MFORM</subfield><subfield code="j">Film/Per</subfield><subfield code="7">12722404</subfield><subfield
        code="m">Non-circulating</subfield></datafield><datafield tag="853" ind1="2"
        ind2="3"><subfield code="8">1</subfield><subfield code="a">v.</subfield><subfield
        code="b">no.</subfield><subfield code="i">(year)</subfield><subfield code="u">12</subfield><subfield
        code="v">R</subfield></datafield><datafield tag="954" ind1=" " ind2=" "><subfield
        code="8">1</subfield><subfield code="a">Microfiche</subfield></datafield><datafield
        tag="863" ind1="5" ind2="1"><subfield code="8">1.1</subfield><subfield code="a">1-180</subfield><subfield
        code="b">1-3305</subfield><subfield code="i">1892-1990</subfield><subfield
        code="p">P863.10814375</subfield><subfield code="w">n</subfield></datafield></holding></get-hol> '
  recorded_at: Thu, 10 Jul 2014 20:18:50 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?key=GOOGLE_BOOK_SEARCH_API_KEY&printType=books&q=%22OCLC1769261%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"Va9FBO4GyIioFh76Oy6bjKIUt7Y/EuhZCtXfcrfLOFqfrBW4N9Q1At4"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"books#volumes\",\n \"totalItems\": 1,\n \"items\":
        [\n  {\n   \"kind\": \"books#volume\",\n   \"id\": \"T1g7AAAAMAAJ\",\n   \"etag\":
        \"H8v7np1nJK0\",\n   \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/T1g7AAAAMAAJ\",\n
        \  \"volumeInfo\": {\n    \"title\": \"Vogue\",\n    \"publishedDate\": \"1977\",\n
        \   \"industryIdentifiers\": [\n     {\n      \"type\": \"OTHER\",\n      \"identifier\":
        \"UOM:39015008584503\"\n     }\n    ],\n    \"readingModes\": {\n     \"text\":
        false,\n     \"image\": false\n    },\n    \"printType\": \"BOOK\",\n    \"categories\":
        [\n     \"Fashion\"\n    ],\n    \"averageRating\": 5.0,\n    \"ratingsCount\":
        1,\n    \"contentVersion\": \"0.1.0.0.preview.0\",\n    \"language\": \"en\",\n
        \   \"previewLink\": \"http://books.google.com/books?id=T1g7AAAAMAAJ&q=%22OCLC1769261%22&dq=%22OCLC1769261%22&as_pt=BOOKS&hl=&cd=1&source=gbs_api\",\n
        \   \"infoLink\": \"http://books.google.com/books?id=T1g7AAAAMAAJ&dq=%22OCLC1769261%22&as_pt=BOOKS&hl=&source=gbs_api\",\n
        \   \"canonicalVolumeLink\": \"http://books.google.com/books/about/Vogue.html?hl=&id=T1g7AAAAMAAJ\"\n
        \  },\n   \"saleInfo\": {\n    \"country\": \"US\",\n    \"saleability\":
        \"NOT_FOR_SALE\",\n    \"isEbook\": false\n   },\n   \"accessInfo\": {\n    \"country\":
        \"US\",\n    \"viewability\": \"NO_PAGES\",\n    \"embeddable\": false,\n
        \   \"publicDomain\": false,\n    \"textToSpeechPermission\": \"ALLOWED\",\n
        \   \"epub\": {\n     \"isAvailable\": false\n    },\n    \"pdf\": {\n     \"isAvailable\":
        false\n    },\n    \"webReaderLink\": \"http://books.google.com/books/reader?id=T1g7AAAAMAAJ&as_pt=BOOKS&hl=&printsec=frontcover&output=reader&source=gbs_api\",\n
        \   \"accessViewStatus\": \"NONE\",\n    \"quoteSharingAllowed\": false\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Thu, 10 Jul 2014 20:18:51 GMT
[...]
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/json/oclc:1769261;lccn:08036997
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"oclc:1769261;lccn:08036997":{"records":{"000518682":{"recordURL":"http:\/\/catalog.hathitrust.org\/Record\/000518682","titles":["Vogue."],"isbns":[],"issns":["428000"],"oclcs":["1769261"],"lccns":["08036997"],"publishDates":["1892"]}},"items":[{"orig":"University
        of Minnesota","fromRecord":"000518682","htid":"umn.31951002789989l","itemURL":"http:\/\/hdl.handle.net\/2027\/umn.31951002789989l","rightsCode":"pd","lastUpdate":"20131120","enumcron":"v.59:no.7-12
        (1922)","usRightsString":"Full view"},{"orig":"University of Michigan","fromRecord":"000518682","htid":"mdp.39015023945101","itemURL":"http:\/\/hdl.handle.net\/2027\/mdp.39015023945101","rightsCode":"ic","lastUpdate":"20130804","enumcron":"v.142
        1963 Jul-Oct 1","usRightsString":"Limited (search-only)"},{"orig":"University
        of Michigan","fromRecord":"000518682","htid":"mdp.39015005533685","itemURL":"http:\/\/hdl.handle.net\/2027\/mdp.39015005533685","rightsCode":"ic","lastUpdate":"20130804","enumcron":"v.1[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002893728?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !binary |-
        T0s=
    headers:
      !binary "U2VydmVy":
      - !binary |-
        QXBhY2hlLUNveW90ZS8xLjE=
      !binary "Q29udGVudC1UeXBl":
      - !binary |-
        YXBwbGljYXRpb24veG1s
      !binary "VHJhbnNmZXItRW5jb2Rpbmc=":
      - !binary |-
        Y2h1bmtlZA==
      !binary "RGF0ZQ==":
      - !binary |-
        VGh1LCAxMCBKdWwgMjAxNCAyMDoxODo1MSBHTVQ=
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbiA9ICIxLjAiIGVuY29kaW5nID0gIlVURi04Ij8+PGdl
        dC1yZWNvcmQ+PHJlcGx5LXRleHQ+b2s8L3JlcGx5LXRleHQ+PHJlcGx5LWNv
        ZGU+MDAwMDwvcmVwbHktY29kZT48cmVjb3JkPjxpbmZvIHR5cGU9Ikl0ZW1z
      [...]
- request:
    method: get
    uri: http://worldcat.org/identities/search/Identities?maximumRecords=1&query=local.OCLCNumber%20=%20%221769261%22&sortKeys=holdingscount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"  encoding=\"UTF-8\"?> \n<searchRetrieveResponse
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.loc.gov/zing/srw/ http://www.loc.gov/standards/sru/sru1-1archive/xml-files/srw-types.xsd\"
        xmlns=\"http://www.loc.gov/zing/srw/\"><version xsi:type=\"xsd:string\">1.1</version><numberOfRecords
        xsi:type=\"xsd:nonNegativeInteger\">0</numberOfRecords><resultSetIdleTime
        xsi:type=\"xsd:positiveInteger\">1</resultSetIdleTime><echoedSearchRetrieveRequest
        xsi:type=\"ns1:echoedSearchRetrieveRequestType\" xmlns:ns1=\"http://www.loc.gov/zing/srw/\"><version
        xsi:type=\"xsd:string\">1.1</version><query xsi:type=\"xsd:string\">local.OCLCNumber
        = &amp;#34;1769261&amp;#34;</query><xQuery><ns2:searchClause xsi:type=\"ns2:searchClauseType\"
        xmlns:ns2=\"http://www.loc.gov/zing/cql/xcql/\"><ns2:index xsi:type=\"xsd:string\">local.OCLCNumber</ns2:index><ns2:relation
        xsi:type=\"ns2:relationType\"><ns2:value xsi:type=\"xsd:string\">=</ns2:value></ns2:relation><ns2:term
        xsi:type=\"xsd:string\">1769261</ns2:term></ns2:searchClause></xQuery><maximumRecords
        xsi:type=\"xsd:nonNegativeInteger\">1</maximumRecords><recordSchema xsi:type=\"xsd:string\">default</recordSchema><sortKeys
        xsi:type=\"xsd:string\">holdingscount</sortKeys></echoedSearchRetrieveRequest><extraResponseData
        xsi:type=\"ns3:extraDataType\" xmlns:ns3=\"http://www.loc.gov/zing/srw/\"><ns4:extraData
        xmlns=\"http://oclc.org/srw/extraData\" xmlns:ns4=\"http://oclc.org/srw/extraData\"><ns4:databaseTitle>WorldCat
        Personal Identity Records</ns4:databaseTitle></ns4:extraData></extraResponseData></searchRetrieveResponse>"
  recorded_at: Thu, 10 Jul 2014 20:18:52 GMT
[...]
