<div class="result row-fluid">
  <div class="appetizer">
    <%= render 'appetizer', record: record, record_idx: record_idx %>
  </div>
  <div class="entree">
    <%= render 'entree', record: record %>
  </div>
</div>
