header {
  background: none;
  height: auto;
  a {
    height: auto
  }
}

.header {
  border: none;
}

nav {
  @include umlaut-container();
  @include clearfix();
  background-color: $umlautHeaderBackgroundColor;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $umlautHeaderBorderColor;
  .nyu-login {
    list-style: none;
  }
}

.umlaut-resource-info h2.title {
  font-style: italic;
  line-height: 22px;
}

.wayfinder {
  @include umlaut-well($umlautHighlightedSectionBackgroundColor, $umlautSidebarBorderColor);
  padding: 6px;
  ul {
    padding-left: .5em;
    margin-bottom: 0px;
    li a {
      vertical-align: middle;
    }
  }
}

.holding-request-options > li{
  margin-bottom: 1em;
}

.holding-request-options.form input[name='entire'] {
  float: left;
  margin-right: .5em;
}

.umlaut-holdings {
  .collection-str, .call-number, .holding-status, .holding-actions {
    min-height: 1px !important;
  }
}

.umlaut-holding {
  padding-bottom: 10px;
  border-bottom: 1px solid $umlautBorderColor;
  &:last-child {
    border-bottom: none;
  }
  a.btn {
    display:block;
    margin-bottom: .25em;
    &.afc-schedule-link {
      background-color: $nyu-purple !important;
    }
    @media (min-width: $screen-md) {
      width: 8em;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.btn.input-group-add-on {
  line-height: $line-height-base;
  margin-top: 0px;
}

.umlaut-unavailable {
  @extend .alert;
  @extend .alert-warning;
  color: #67512C;
  background-color: #FCF8E3;
}

// Change link and text colors for a11y
main a {
  color: #2200CC;
}

.text-muted, .footer, .umlaut-section .section-subheading, .umlaut-section.holding .umlaut-holdings .umlaut-holding-notes, .umlaut-section.book-icons .umlaut-holdings .umlaut-holding-notes, .section_prompt, .edition_warning, .response_source, .response_coverage_statement, .response_notes, .umlaut-resource-info .resource-type, .umlaut-resource-info dl.citation-info, .background_progress_spinner {
  color: #555555 !important;
}
