.umlaut-permalink {
  margin-left: 0px;
  text-align: left;
  float: left;
}

.umlaut-permalink-container {
  line-height: 30px;
  background-color: #efefef;
  padding: .5em;
  position: absolute;
  z-index: 100;
  width: 201px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
