// Basic Variables         
$linkColor:                                 #0066CC !default;
$nyuLibrariesDarkGrey:                      lighten(#cfcfcf, 7%);
$nyuLibrariesLightGrey:                     lighten(#e8e8e8, 5%);
$nyuLibrariesAzBlue:                        #0000ee;
$nyuLibrariesBorderColor:                   darken($nyuLibrariesDarkGrey, 10%);
$nyuLibrariesBackgroundColor:               #000000;
$umlautGrey:                                darken(whiteSmoke, 9%);
// General Styles                           
$umlautBorderColor:                         $nyuLibrariesBorderColor;
$umlautBackgroundColor:                     $nyuLibrariesLightGrey;
// Permalink                                   
$umlautResolveNavBorderColor:               $nyuLibrariesDarkGrey;
$umlautResolveNavBackgroundColor:           $nyuLibrariesLightGrey;
// Resolve                                   
$umlautMainBackgroundColor:                 $umlautBackgroundColor;
$umlautSidebarBorderColor:                  $umlautBorderColor;
$umlautSidebarBackgroundColor:              $nyuLibrariesDarkGrey;
// Resource Info                               
$umlautResourceInfoBorderColor:             $umlautGrey;
$umlautResourceInfoBackgroundColor:         white;
// Help                                     
$umlautHelpBorderColor:                     $umlautBorderColor;
$umlautHelpBackgroundColor:                 $umlautBackgroundColor;
// Highlighted Sections
$umlautHighlightedSectionBorderColor:       $umlautGrey;
$umlautHighlightedSectionBackgroundColor:   white;
// Holdings
$umlautHoldingBorderColor:                  $umlautBorderColor;
$umlautHoldingHighlightBackgroundColor:     $umlautSidebarBackgroundColor;
// Unavailable
$umlautUnavailableColor:                     red;
// Resolve Errors                           
$umlautResolveErrorBorderColor:             $umlautGrey;
$umlautResolveErrorBackgroundColor:         white;
// Debug Info
$umlautDebugInfoBorderColor:                $umlautGrey;
$umlautDebugInfoBackgroundColor:            white;
