<div id="tabs" class="tabs">
	<ul>
		<li id="all">
			<a href="http://bobcatdev.library.nyu.edu" 
				title="Books &amp; e-books, journals &amp; e-journals, scripts, scores, archival materials, NYU dissertations, videos, sound recordings"
				class="tip-delayed">
				Books &amp; More
			</a>
		</li>
		<li id="remote" class="">
			<a href="https://webdev1.library.nyu.edu/arch" 
				title="by Subject and Content Type"
				class="tip-delayed">
				Articles &amp; Databases
			</a>
		</li>
		<li id="databases" class="">
			<a href="https://webdev1.library.nyu.edu/arch/databases/alphabetical/" 
				title="All databases by title"
				class="tip-delayed">
				Databases A-Z
			</a>
		</li>
		<li id="journals" class="selected">
			<%= link_to('E-Journals A-Z', {:controller=>'search'}, {
					:title => "Find e-journals by title or locate a known article",
					:class => "tip-delayed"}) %>
		</li>
		<li id="reserves" class="">
			<a href="http://bobcatdev.library.nyu.edu/primo_library/libweb/action/search.do?mode=Basic&amp;vid=NYU&amp;tab=reserves" 
				title="Search by instructor, course name, course title, etc."
				class="tip-delayed">
				Course Reserves
			</a>
		</li>
	</ul>
</div>