<%= sidebar_section("help", content_tag(:h2, "Need help?")) do %>
  <ul class="nav-list">
    <li><a href="http://library.answers.nyu.edu/website/search/?t=0&topics=search%20our%20collections&adv=1&keywords=bobcat&q=journals" target="_blank">Help using the Journals tab</a></li>
    <li><a href="http://guides.nyu.edu/friendly.php?s=shanghai" target="_blank" id="sh_aal">Ask a NYU Shanghai Librarian</a></li>
    <li><a href="https://library.nyu.edu/ask/" target="_blank" id="ny_aal">Ask a NY Librarian</a></li>
  </ul>
<% end %>
<%= sidebar_section("additional_options", content_tag(:h2, "Additional Options")) do %>
  <ul class="nav-list">
    <li><a href="https://arch.library.nyu.edu/nyush" target="_blank">Find articles on your topic</a></li>
  </ul>
<% end %>
