<%= sidebar_section("help", content_tag(:h2, "Need help?")) do %>
  <ul class="nav-list">
    <li><a href="http://guides.nyu.edu/friendly.php?s=shanghai" target="_blank" id="sh_aal">Ask a NYU Shanghai Librarian</a></li>
    <li><a href="https://library.nyu.edu/ask/" target="_blank" id="ny_aal">Ask a NY Librarian</a></li>
  </ul>
<% end %>

