---
http_interactions:
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01001244378/items?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><get-item-list><reply-text>ok</reply-text><reply-code>0000</reply-code><items><item
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01001244378/items/NYU50001244378000010"><z30-sub-library-code>BOBST</z30-sub-library-code><z30-item-process-status-code>XD</z30-item-process-status-code><z30-item-status-code>01</z30-item-status-code><z30-collection-code>MAIN</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>001244378</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31142023173340</z30-barcode><z30-sub-library>NYU
        Bobst</z30-sub-library><z30-material>Scores</z30-material><z30-item-status>Request
        ILL</z30-item-status><z30-open-date>19970612</z30-open-date><z30-update-date>20101020</z30-update-date><z30-cataloger>HORNICKA</z30-cataloger><z30-date-last-return>20040105</z30-date-last-return><z30-hour-last-return>0000</z30-hour-last-return><z30-ip-last-return></z30-ip-last-return><z30-no-loans>002</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Main
        Collection</z30-collection><z30-call-no-type>0</z30-call-no-type><z30-call-no>M1011.Z98
        P4 1997</z30-call-no><z30-call-no-key>0 m#1011 z98 p4 1997</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description></z30-description><z30-note-opac></z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number></z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price>9.95</z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>00000000</z30-arrival-date><z30-item-statistic></z30-item-statistic><z30-item-process-status>SOSS
        NOS</z30-item-process-status><z30-copy-id></z30-copy-id><z30-hol-doc-number>002127441</z30-hol-doc-number><z30-temp-location>No</z30-temp-location><z30-enumeration-a></z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type></z30-85x-type><z30-depository-id></z30-depository-id><z30-linking-number>000000000</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>001</z30-maintenance-count><z30-process-status-date>20101020</z30-process-status-date></z30><z13><translate-change-active-library>NYU50</translate-change-active-library><z13-doc-number>001244378</z13-doc-number><z13-year>1997</z13-year><z13-open-date>20080618</z13-open-date><z13-update-date>20111025</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC0</z13-call-no-code><z13-call-no>M1011.Z98</z13-call-no><z13-author-code>1001</z13-author-code><z13-author>Zwilich,
        Ellen Taaffe, 1939-</z13-author><z13-title-code>24510</z13-title-code><z13-title>Peanuts
        gallery :</z13-title><z13-imprint-code>260</z13-imprint-code><z13-imprint>Bryn
        Mawr, Pa. : Merion Music : T. Presser, sole representative, c1997.</z13-imprint><z13-isbn-issn-code></z13-isbn-issn-code><z13-isbn-issn></z13-isbn-issn></z13><status>06/04/13</status></item></items></get-item-list> '
  recorded_at: Thu, 21 Feb 2013 22:14:01 GMT
recorded_with: VCR 2.4.0
