---
http_interactions:
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2013-02-21T09:08:37-05:00&ctx_ver=Z39.88-2004&rft.aufirst=Michael&rft.aulast=Ende&rft.btitle=Momo&rft.genre=book&rft.isbn=038519093X&rft.pub=Doubleday&rft_val_fmt=info:ofi/fmt:kev:mtx:book&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"@rft.auinit\"&gt;\n   &lt;array&gt;\n    &lt;item key=\"0\"&gt;M&lt;/item&gt;\n
        \  &lt;/array&gt;\n  &lt;/item&gt;\n  &lt;item key=\"ctx_tim\"&gt;2013-02-21T09:08:37-05:00&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"rft.isbn\"&gt;0-385-19093-X&lt;/item&gt;\n
        \ &lt;item key=\"_stash\"&gt;\n   &lt;hash&gt;\n   &lt;/hash&gt;\n  &lt;/item&gt;\n
        \ &lt;item key=\"c[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><searchBrief><request><![CDATA[<searchRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator><QueryTerm><IndexField>isbn</IndexField><PrecisionOperator>exact</PrecisionOperator><Value>038519093X</Value></QueryTerm></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution></searchRequest>]]></request></searchBrief></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"searchBrief"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><searchBriefResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><searchBriefReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;sear:SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot; xmlns:sear=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n
        \ &lt;sear:JAGROOT&gt;\n    &lt;sear:RESULT&gt;\n      &lt;sear:QUERYTRANSFORMS/&gt;\n
        \     &lt;sear:FACETLIST ACCURATE_COUNTERS=&quot;true&quot;&gt;\n        &lt;sear:FACET
        COUNT=&quot;1&quot; NAME=&quot;creator&quot;&[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=DUMMY_AWS_ACCESS_KEY_ID&AssociateTag=DUMMY_AWS_ASSOCIATE_TAG&ItemId=038519093X&Operation=ItemLookup&ResponseGroup=Large&Service=AWSECommerceService&Signature=jRDtja8NUACVHjQ6ufy12zFIDSzDgu8MrUpFB83jn9Q=&Timestamp=2013-02-21T09:08:39-05:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>26c5693b-564e-4002-8015-5924eabbec2f</RequestId><Arguments><Argument
        Name="Service" Value="AWSECommerceService"></Argument><Argument Name="Operation"
        Value="ItemLookup"></Argument><Argument Name="ItemId" Value="038519093X"></Argument><Argument
        Name="AWSAccessKeyId" Value="DUMMY_AWS_ACCESS_KEY_ID"></Argument><Argument Name="Timestamp"
        Value="2013-02-21T09:08:39-05:00"></Argument><Argument Name="Signature" Value="jRDtja8NUACVHjQ6ufy12zFIDSzDgu8MrUpFB83jn9Q="></Argument><Argument
        Name="ResponseGroup" Value="Large"></Argument><Argument Name="AssociateTag"
        Value="DUMMY_AWS_ASSOCIATE_TAG"></Argument></Arguments><RequestProcessingTime>0.0902220000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>038519093X</ItemId><ResponseGroup>Large</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>038519093X</ASIN><DetailPageURL>http://www.amazon.com/Momo-Michael-Ende/dp/038519093X%3FSubscriptionId%3DDUMMY_AWS_ACCESS_KEY_ID%26tag%3DDUMMY_AWS_ASSOCIATE_TAG%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D038519093X</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Momo-Michael-Ende/dp/tech-data/038519093X%3FSubscriptionId%3DDUMMY_AWS_ACCESS_KEY_ID%26tag%3DDUMMY_AWS_ASSOCIATE_TAG%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3D038519093X</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3D038519093X%26SubscriptionId%3DDUMMY_AWS_ACCESS_KEY_ID%26tag%3DDUMMY_AWS_ASSOCIATE_TAG%26linkCode%3Dxm2%26camp%3D2025%26creative%3D38[...]
