---
http_interactions:
- request:
    method: get
    uri: https://login.nyu.edu/sso/identity/getCookieNameForToken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! 'string=iPlanetDirectoryPro

'
  recorded_at: Thu, 21 Feb 2013 18:28:30 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002696713/items?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><get-item-list><reply-text>ok</reply-text><reply-code>0000</reply-code><items><item
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002696713/items/NYU50002696713000010"><z30-sub-library-code>BOBST</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>01</z30-item-status-code><z30-collection-code>MAIN</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>002696713</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31142010462805</z30-barcode><z30-sub-library>NYU
        Bobst</z30-sub-library><z30-material>Books</z30-material><z30-item-status>Regular
        loan</z30-item-status><z30-open-date>20000811</z30-open-date><z30-update-date>20000811</z30-update-date><z30-cataloger>CONV</z30-cataloger><z30-date-last-return>20121101</z30-date-last-return><z30-hour-last-return>1100</z30-hour-last-return><z30-ip-last-return>128.122.88.170</z30-ip-last-return><z30-no-loans>006</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Main
        Collection</z30-collection><z30-call-no-type>0</z30-call-no-type><z30-call-no>PT2665.N27
        M613 1984</z30-call-no><z30-call-no-key>0 pt#2665 n27 m613 1984</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description></z30-description><z30-note-opac></z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number></z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price></z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>00000000</z30-arrival-date><z30-item-statistic></z30-item-statistic><z30-item-process-status>Not
        in Process</z30-item-process-status><z30-copy-id>1</z30-copy-id><z30-hol-doc-number>000977431</z30-hol-doc-number><z30-temp-location>No</z30-temp-location><z30-enumeration-a></z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type></z30-85x-type><z30-depository-id></z30-depository-id><z30-linking-number>000000000</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>004</z30-maintenance-count><z30-process-status-date>20100317</z30-process-status-date></z30><z13><translate-change-active-library>NYU50</translate-change-active-library><z13-doc-number>002696713</z13-doc-number><z13-year>1984</z13-year><z13-open-date>20080618</z13-open-date><z13-update-date>20080618</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC0</z13-call-no-code><z13-call-no>PT2665.N27</z13-call-no><z13-author-code>1001</z13-author-code><z13-author>Ende,
        Michael.</z13-author><z13-title-code>24510</z13-title-code><z13-title>Momo
        /</z13-title><z13-imprint-code>260</z13-imprint-code><z13-imprint>Garden City,
        N.Y. : Doubleday, 1984.</z13-imprint><z13-isbn-issn-code>020</z13-isbn-issn-code><z13-isbn-issn>038519093X</z13-isbn-issn></z13><status>On
        Shelf</status></item></items></get-item-list> '
  recorded_at: Thu, 21 Feb 2013 18:28:33 GMT
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2013-02-21T13:28:33-05:00&ctx_ver=Z39.88-2004&rfr_id=info:sid/sfxit.com:citation&rft.issn=1832-9373&rft.jtitle=Advocate&rft.object_id=2670000000017711&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"rft.issn\"&gt;1832-9373&lt;/item&gt;\n  &lt;item key=\"ctx_tim\"&gt;2013-02-21T13:28:33-05:00&lt;/item&gt;\n
        \ &lt;item key=\"sfx.request_id\"&gt;3766914&lt;/item&gt;\n  &lt;item key=\"rft.genre\"&gt;journal&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"sfx.ignore_date_threshold\"&gt;1&lt;/item&gt;\n
        \ &lt;item key=\"rft.pub\"&gt;Office of the Employment Advocate&lt;/i[...]
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?key=DUMMY_GOOGLE_BOOK_SEARCH_API_KEY&printType=books&q=isbn:038519093X
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"oJJnsPwmwzPHUK-6EQKPiLmyEMg/LAlCF_g9evUDIDWf0H8JXJi883c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"books#volumes\",\n \"totalItems\": 1,\n \"items\":
        [\n  {\n   \"kind\": \"books#volume\",\n   \"id\": \"YctbAAAAMAAJ\",\n   \"etag\":
        \"msXXVcgyZfk\",\n   \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/YctbAAAAMAAJ\",\n
        \  \"volumeInfo\": {\n    \"title\": \"Momo\",\n    \"authors\": [\n     \"Michael
        Ende\"\n    ],\n    \"publisher\": \"Doubleday Books\",\n    \"publishedDate\":
        \"1985\",\n    \"description\": \"Weaves a magical tale about an orphan girl
        named Momo whose unstinting goodness nurtures wisdom and happiness in the
        people around her and who becomes the prey of sinister figures.\",\n    \"industryIdentifiers\":
        [\n     {\n      \"type\": \"OTHER\",\n      \"identifier\": \"UOM:39015054080638\"\n
        \    }\n    ],\n    \"pageCount\": 227,\n    \"printType\": \"BOOK\",\n    \"averageRating\":
        4.0,\n    \"ratingsCount\": 19,\n    \"contentVersion\": \"0.1.1.0.preview.0\",\n
        \   \"imageLinks\": {\n     \"smallThumbnail\": \"http://bks0.books.google.com/books?id=YctbAAAAMAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api\",\n
        \    \"thumbnail\": \"http://bks0.books.google.com/books?id=YctbAAAAMAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api\"\n
        \   },\n    \"language\": \"en\",\n    \"previewLink\": \"http://books.google.com/books?id=YctbAAAAMAAJ&dq=isbn:038519093X&as_pt=BOOKS&hl=&cd=1&source=gbs_api\",\n
        \   \"infoLink\": \"http://books.google.com/books?id=YctbAAAAMAAJ&dq=isbn:038519093X&as_pt=BOOKS&hl=&source=gbs_api\",\n
        \   \"canonicalVolumeLink\": \"http://books.google.com/books/about/Momo.html?hl=&id=YctbAAAAMAAJ\"\n
        \  },\n   \"saleInfo\": {\n    \"country\": \"US\",\n    \"saleability\":
        \"NOT_FOR_SALE\",\n    \"isEbook\": false\n   },\n   \"accessInfo\": {\n    \"country\":
        \"US\",\n    \"viewability\": \"NO_PAGES\",\n    \"embeddable\": false,\n
        \   \"publicDomain\": false,\n    \"textToSpeechPermission\": \"ALLOWED\",\n
        \   \"epub\": {\n     \"isAvailable\": false\n    },\n    \"pdf\": {\n     \"isAvailable\":
        false\n    },\n    \"webReaderLink\": \"http://books.google.com/books/reader?id=YctbAAAAMAAJ&as_pt=BOOKS&hl=&printsec=frontcover&output=reader&source=gbs_api\",\n
        \   \"accessViewStatus\": \"NONE\"\n   },\n   \"searchInfo\": {\n    \"textSnippet\":
        \"Weaves a magical tale about an orphan girl named Momo whose unstinting goodness
        nurtures wisdom and happiness in the people around her and who becomes the
        prey of sinister figures.\"\n   }\n  }\n ]\n}\n"
  recorded_at: Thu, 21 Feb 2013 18:28:34 GMT
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=DUMMY_AWS_ACCESS_KEY_ID&AssociateTag=DUMMY_AWS_ASSOCIATE_TAG&ItemId=038519093X&Operation=ItemLookup&ResponseGroup=Large&Service=AWSECommerceService&Signature=KnW7MTYgbyhVZO5WtkNr2Jng2K8Fo3C8yLkNXza/Wc4=&Timestamp=2013-02-21T13:28:34-05:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>00dc5d33-9610-4a6e-b0e2-f6bf54ff9c37</RequestId><Arguments><Argument
        Name="Service" Value="AWSECommerceService"></Argument><Argument Name="Operation"
        Value="ItemLookup"></Argument><Argument Name="AssociateTag" Value="DUMMY_AWS_ASSOCIATE_TAG"></Argument><Argument
        Name="Signature" Value="KnW7MTYgbyhVZO5WtkNr2Jng2K8Fo3C8yLkNXza/Wc4="></Argument><Argument
        Name="ItemId" Value="038519093X"></Argument><Argument Name="AWSAccessKeyId"
        Value="DUMMY_AWS_ACCESS_KEY_ID"></Argument><Argument Name="Timestamp" Value="2013-02-21T13:28:34-05:00"></Argument><Argument
        Name="ResponseGroup" Value="Large"></Argument></Arguments><RequestProcessingTime>0.2391450000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>038519093X</ItemId><ResponseGroup>Large</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>038519093X</ASIN><DetailPageURL>http://www.amazon.com/Momo-Michael-Ende/dp/038519093X%3FSubscriptionId%3DDUMMY_AWS_ACCESS_KEY_ID%26tag%3DDUMMY_AWS_ASSOCIATE_TAG%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D038519093X</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Momo-Michael-Ende/dp/tech-data/038519093X%3FSubscriptionId%3DDUMMY_AWS_ACCESS_KEY_ID%26tag%3DDUMMY_AWS_ASSOCIATE_TAG%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3D038519093X</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3D038519093X%26SubscriptionId%3DDUMMY_AWS_ACCESS_KEY_ID%26tag%3DDUMMY_AWS_ASSOCIATE_TAG%26linkCode%3Dxm2%26camp%3D2025%26creative%3D38[...]
- request:
    method: get
    uri: http://www.amazon.com/gp/reader/038519093X
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MovedPermanently
    headers:
      X-Amz-Id-1:
      - 18AMK4BV5BD13EB3EZY9
      X-Sap-Pg:
      - book_display_on_website
      Location:
      - http://www.amazon.com/Momo-Michael-Ende/dp/038519093X
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! '

'
  recorded_at: Thu, 21 Feb 2013 18:28:34 GMT
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><searchBrief><request><![CDATA[<searchRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator><QueryTerm><IndexField>isbn</IndexField><PrecisionOperator>exact</PrecisionOperator><Value>1832-9373</Value></QueryTerm></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution></searchRequest>]]></request></searchBrief></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"searchBrief"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><searchBriefResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><searchBriefReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n  &lt;JAGROOT&gt;\n
        \   &lt;RESULT&gt;\n      &lt;QUERYTRANSFORMS/&gt;\n      &lt;FACETLIST/&gt;\n
        \     &lt;DOCSET IS_LOCAL=&quot;true&quot; TOTAL_TIME=&quot;4&quot; LASTHIT=&quot;0&quot;
        FIRSTHIT=&quot;1&quot; TOTALHITS=&quot;0&quot; HIT_TIME=&quot;3&quot;/&gt;\n
        \   &lt;/RESULT&gt;\n    &lt;searchToken&gt;0&lt;/searchToken&gt;\n  &lt;/JAGROOT&gt;\n&lt;/SEGMENTS&gt;\n</searchBriefReturn></searchBriefResponse></soapenv:Body></soapenv:Envelope>"
  recorded_at: Thu, 21 Feb 2013 18:28:34 GMT
recorded_with: VCR 2.4.0
