---
http_interactions:
- request:
    method: get
    uri: https://login.nyu.edu/sso/identity/getCookieNameForToken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! 'string=iPlanetDirectoryPro

'
  recorded_at: Thu, 31 Jan 2013 04:28:09 GMT
- request:
    method: get
    uri: http://recommender.service.exlibrisgroup.com/service/recommender/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2013-02-13T13:06:41-05:00&ctx_ver=Z39.88-2004&res_dat=format=rss%26source=global%26token=DUMMY_NS_BX_TOKEN%26maxRecords=2%26threshold=50%26baseUrl=/getit/resolve?umlaut.institution=NS&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph000980206&rft.au=Mossberger,%20Karen&rft.aufirst=Karen&rft.aulast=Mossberger&rft.btitle=Virtual%20inequality%20:%20beyond%20the%20digital%20divide&rft.genre=book&rft.isbn=9780393964585&rft.lccn=2003004571&rft.place=Washington,%20D.C.&rft.pub=Georgetown%20University%20Press&rft.title=Virtual%20inequality%20:%20beyond%20the%20digital%20divide&rft.tpages=352&rft_id=urn:asin:0393964582&rft_val_fmt=info:ofi/fmt:kev:mtx:book&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<rss xmlns:bx=\"http://bx.exlibrisgroup.com/docs/schema/bx\"
        version=\"2.0\">\r\n  <channel>\r\n    <title />\r\n    <link />\r\n    <description
        />\r\n    <bx:statusCode code=\"01\" name=\"emptyList\">no matching documents
        were found</bx:statusCode>\r\n  </channel>\r\n</rss>\r\n\r\n"
  recorded_at: Wed, 13 Feb 2013 18:06:42 GMT
recorded_with: VCR 2.4.0
