<li>
	<% form_tag(send_recall_requests_url(params[:id]), 
	    :class => "modal_dialog_form request_option" ) do %>
		<div class="section">
			<%= display_recall.html_safe %>
		</div>
	<% end %>
</li>