---
http_interactions:
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01003813214/items/NYU52003813214000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><item-serv><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>NSHNG</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>01</z30-item-status-code><z30-collection-code>MAIN</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU52</translate-change-active-library><z30-doc-number>003813214</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31124057189608</z30-barcode><z30-sub-library>NYU
        Shanghai Library (China)</z30-sub-library><z30-material>Books</z30-material><z30-item-status>Regular
        loan</z30-item-status><z30-open-date>20130827</z30-open-date><z30-update-date>20131022</z30-update-date><z30-cataloger>GILCHRISTC</z30-cataloger><z30-date-last-return>20170512</z30-date-last-return><z30-hour-last-return>1434</z30-hour-last-return><z30-ip-last-return>NYUSHANG</z30-ip-last-return><z30-no-loans>005</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Main
        Collection</z30-collection><z30-call-no-type>0</z30-call-no-type><z30-call-no>BF637.S4
        A73 2003</z30-call-no><z30-call-no-key>0 bf&quot;637 s4 a73 2003</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description></z30-description><z30-note-opac>From
        the NYU Shanghai Study Away Collection.</z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number></z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price></z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>00000000</z30-arrival-date><z30-item-statistic>c</z30-item-statistic><z30-item-process-status>Not
        in Process</z30-item-process-status><z30-copy-id></z30-copy-id><z30-hol-doc-number>004698634</z30-hol-doc-number><z30-temp-location>No</z30-temp-location><z30-enumeration-a></z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type></z30-85x-type><z30-depository-id></z30-depository-id><z30-linking-number>000000000</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>005</z30-maintenance-count><z30-process-status-date>20130910</z30-process-status-date><z30-upd-time-stamp>201711151112412</z30-upd-time-stamp><z30-ip-last-return-v6></z30-ip-last-return-v6></z30><z13><translate-change-active-library>NYU52</translate-change-active-library><z13-doc-number>003813214</z13-doc-number><z13-year>2003</z13-year><z13-open-date>20130826</z13-open-date><z13-update-date>20170420</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC0</z13-call-no-code><z13-call-no>BF637.S4</z13-call-no><z13-author-code>1001</z13-author-code><z13-author>Arden,
        Paul.</z13-author><z13-title-code>24510</z13-title-code><z13-title>It&apos;s
        not how good you are, it&apos;s how good you want to be /</z13-title><z13-imprint-code>260</z13-imprint-code><z13-imprint>London
        ; New York : Phaidon, 2003.</z13-imprint><z13-isbn-issn-code>020</z13-isbn-issn-code><z13-isbn-issn>0714843377
        (pbk.)</z13-isbn-issn><z13-upd-time-stamp>200001011200000</z13-upd-time-stamp></z13><status>12/22/17
        06:00 PM</status><info type="HoldRequest" href="http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01003813214/items/NYU52003813214000010/hold"
        allowed="Y"><hold allowed="Y"><pickup-locations default="Y" usage="Mandatory"><pickup-location
        code="NSHNG">NYU Shanghai Library (China)</pickup-location></pickup-locations><note
        type="info">This item is checked out until 12/22/17 at 06:00 PM.</note><note
        type="info">The expected date of availability for this item is 12/06/17 at
        06:00 PM.</note><note type="info"></note><note type="info"></note><note type="info">Item
        status: Regular loan&lt;br /&gt; Call number: BF637.S4 A73 2003&lt;br /&gt;</note><last-interest-date
        usage="Optional">20180227</last-interest-date><start-interest-date usage="Optional"></start-interest-date><sub-author
        usage="Optional" max_len="50"></sub-author><sub-title usage="Optional" max_len="100"></sub-title><pages
        usage="Optional" max_len="30"></pages><note-1 usage="Optional" max_len="50"></note-1><note-2
        usage="Optional" max_len="50"></note-2><rush usage="Optional"></rush></hold></info><info
        type="ShortLoan" href="http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01003813214/items/NYU52003813214000010/shortLoan"
        allowed="N"><note type="error">The item has no short loan schedule</note></info><info
        type="PhotoRequest" href="http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01003813214/items/NYU52003813214000010/photo"
        allowed="N"><note type="error">Item cannot be photocopied (tab15).</note></info><info
        type="BookingRequest" allowed="N"><note type="error">Item cannot be booked
        (tab15).</note><adm-library>NYU52</adm-library><adm-doc-number>003813214</adm-doc-number><item-sequence>000010</item-sequence><exact-item>N</exact-item></info></item></item-serv> '
  recorded_at: Tue, 28 Nov 2017 21:47:05 GMT
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-11-28T16:47:34-05:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph003813214&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"ctx_tim\"&gt;2017-11-28T16:47:34-05:00&lt;/item&gt;\n  &lt;item
        key=\"sfx.request_id\"&gt;15428933&lt;/item&gt;\n  &lt;item key=\"rft.genre\"&gt;journal&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"sfx.ignore_date_threshold\"&gt;1&lt;/item&gt;\n
        \ &lt;item key=\"req.ip\"&gt;127.0.0.1&lt;/item&gt;\n  &lt;item key=\"rfr.rfr\"&gt;primo.exlibrisgroup.com:primo-nyu_aleph00[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:getRecord><request><![CDATA[<fullViewRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>nyu_aleph003813214</docId></fullViewRequest>]]></request></wsdl:getRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getRecordResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://primo.library.edu/PrimoWebServices/services/searcher"><getRecordReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
          &lt;JAGROOT&gt;
            &lt;RESULT&gt;
              &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;
                &lt;DOC LOCAL=&quot;true&quot;&gt;
                  &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;
                    &lt;record&gt;
                      &lt;control&g[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01003813214/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item-list><reply-text>ok</reply-text><reply-code>0000</reply-code><items><item
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01003813214/items/NYU52003813214000010"></item></items></get-item-list> '
  recorded_at: Tue, 28 Nov 2017 21:47:37 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01003813214/items/NYU52003813214000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>NSHNG</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>01</z30-item-status-code><z30-collection-code>MAIN</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU52</translate-change-active-library><z30-doc-number>003813214</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31124057189608</z30-barcode><z30-sub-lib[...]
- request:
    method: get
    uri: https://catalog.hathitrust.org/api/volumes/brief/json/oclc:51841543;lccn:2004271080
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"oclc:51841543;lccn:2004271080":{"records":[],"items":[]}}'
  recorded_at: Tue, 28 Nov 2017 21:47:38 GMT
[...]
