<%= sidebar_section("help", content_tag(:h2, "Need help?")) do %>
  <ul class="nav-list">
    <li><a href="http://library.nyu.edu/help/ejournals.html" target="_blank">Help using the Journals tab</a></li>
    <li><a href="http://guides.nyu.edu/friendly.php?s=tutorials" target="_blank">Tutorials and self help</a></li>
    <li><a href="http://library.nyu.edu/ask" target="_blank" id="aal">Ask a Librarian</a></li>
  </ul>
<% end %>
