<%= sidebar_section("help", content_tag(:h2, "Need help?")) do %>
  <ul class="nav-list">
    <li><a href="http://library.nyu.edu/ask" target="_blank" id="ny_aal">Ask a Librarian</a></li>
  </ul>
<% end %>
