<%= sidebar_section("help", content_tag(:h2, "Need help?")) do %>
  <ul class="nav-list">
    <li><a href="http://library.nyu.edu/help/ejournals.html" target="_blank">Help using the Journals tab</a></li>
    <li><a href="http://library.nyu.edu/research/tutorials/" target="_blank">Tutorials and self help</a></li>
    <li><a href="http://library.nyu.edu/ask" target="_blank" id="ny_aal">Ask a Librarian</a></li>
  </ul>
<% end %>
<%= sidebar_section("additional_options", content_tag(:h2, "Additional Options")) do %>
  <ul class="nav-list">
    <li><a href="http://arch.library.nyu.edu">Find articles on your topic</a></li>
  </ul>
<% end %>
