<div style="margin-top: 10px;" class="tip"><a href="http://library.nyu.edu/info/umlaut/article_finding_tips.html" class="tip-link tip-link-full" target="_blank">Having trouble finding your article?</a></div>
