<%
# Destroy Expired "NYU_Primo_Source" ServiceResponses
expire_or_destroy_nyu_primo_source_service_responses(@user_request)
holdings = holding.find_all do |service_response| 
  service_response.service_type_value_name == 'holding'
end
# Put current institution's holdings first.
(institutional_holding, other_holding) = holdings.partition do |service_response|
  "#{current_primary_institution.code}" ==
    (service_response.service_data[:institution] || service_response.service.group)
end
holdings = institutional_holding + other_holding
%>
<% unless holdings.empty? %>
  <%- # Display holdings -%>
  <div class="container-fluid umlaut-holdings">
    <p style="margin-bottom: 1em;">
      <strong>
        <%= link_to('View Maps and Call Number Locations',
          'http://library.nyu.edu/bobcat/callno/', target: '_blank') %>
      </strong>
    </p>  
    <% holdings.each do |service_response| %>
      <%= render('holding_response_item', service_response: service_response) %>
    <% end %>
  </div>
<% else %>
  <div class="umlaut-content-indent">
    <%- # Display holding searches -%>
    <% holding_searches = holding.find_all do |service_response|
      service_response.service_type_value_name == 'holding_searches'
    end %>
    <% unless holding_searches.empty? %>
      <% holding_searches.each do |service_response| %>
        <%= render('holding_search', service_response: service_response) %>
      <% end %>
    <% else %>
      <% if !service_types_in_progress?(['holding', 'holding_search']) %>
        <%-
        # Display "Not Available" if we've completed our service run and 
        # both holdings and holding searches are empty
        -%>
        <p class="umlaut-unavailable">Not Available</p>
      <% end %>
    <% end %>
  </div>
<% end %>
<%- # Destroy Successful "NYU_Primo_Source" DispatchedServices -%>
<% destroy_successful_nyu_primo_source_dispatched_services(@user_request) %>
