---
http_interactions:
- request:
    method: post
    uri: https://login.library.edu/pds
    body:
      encoding: UTF-8
      string: func=get-attribute&attribute=bor_info&calling_system=getit&pds_handle=PDS_HANDLE
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><bor-info><id>BOR_ID</id><exl_id>BOR_ID</exl_id><nyuidn>BOR_ID</nyuidn><barcode>BARCODE</barcode><bor-status>52</bor-status><expiry-date>20141031</expiry-date><name>Dev</name><uid>dev123</uid><email>dev.eloper@library.edu</email><email_address>dev.eloper@library.edu</email_address><institute>NYU</institute><cn>Dev
        Eloper</cn><givenname>Dev</givenname><sn>Eloper</sn><verification>VERIFICATION</verification><opensso>true</opensso><nyu_shibboleth>true</nyu_shibboleth><entitlements>urn:mace:nyu.edu:entl:its:smtpauth;urn:mace:nyu.edu:entl:its:wikispriv;urn:mace:nyu.edu:entl:its:classes;urn:mace:nyu.edu:entl:lib:eresources;urn:mace:nyu.edu:entl:its:qualtrics;urn:mace:nyu.edu:entl:its:wikispub;urn:mace:nyu.edu:entl:its:lynda;urn:mace:nyu.edu:entl:its:webspace;urn:mace:nyu.edu:entl:lib:ideaexchange;urn:mace:nyu.edu:entl:its:projmgmt;urn:mace:nyu.edu:entl:its:files;urn:mace:incommon:entitlement:common:1</entitlements><edupersonentitlement><value>urn:mace:nyu.edu:entl:its:smtpauth</value><value>urn:mace:nyu.edu:entl:its:wikispriv</value><value>urn:mace:nyu.edu:entl:its:classes</value><value>urn:mace:nyu.edu:entl:lib:eresources</value><value>urn:mace:nyu.edu:entl:its:qualtrics</value><value>urn:mace:nyu.edu:entl:its:wikispub</value><value>urn:mace:nyu.edu:entl:its:lynda</value><value>urn:mace:nyu.edu:entl:its:webspace</value><value>urn:mace:nyu.edu:entl:lib:ideaexchange</value><value>urn:mace:nyu.edu:entl:its:projmgmt</value><value>urn:mace:nyu.edu:entl:its:files</value><value>urn:mace:incommon:entitlement:common:1</value></edupersonentitlement><ill-permission>Y</ill-permission><college_name>GA</college_name><dept_code>Graduate
        School of Arts and Science</dept_code><dept_name>CSCI</dept_name><major_code>DIVISION
        OF LIBRARIES</major_code><major>GACSCIMS</major></bor-info>
  recorded_at: Tue, 21 Jul 2015 20:11:57 GMT
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2015-07-21T16:11:57-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph001624317&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"ctx_tim\"&gt;2015-07-21T16:11:57-04:00&lt;/item&gt;\n  &lt;item
        key=\"sfx.request_id\"&gt;9815805&lt;/item&gt;\n  &lt;item key=\"rft.genre\"&gt;journal&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"sfx.ignore_date_threshold\"&gt;1&lt;/item&gt;\n
        \ &lt;item key=\"req.ip\"&gt;127.0.0.1&lt;/item&gt;\n  &lt;item key=\"rfr.rfr\"&gt;primo.exlibrisgroup.com:primo-nyu_aleph001[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:getRecord><request><![CDATA[<fullViewRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>nyu_aleph001624317</docId></fullViewRequest>]]></request></wsdl:getRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getRecordResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://primo.library.edu/PrimoWebServices/services/searcher"><getRecordReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
          &lt;JAGROOT&gt;
            &lt;RESULT&gt;
              &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;
                &lt;DOC LOCAL=&quot;true&quot;&gt;
                  &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;
                    &lt;record&gt;
                      &lt;control&g[...]
[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01001624317/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item-list><reply-text>ok</reply-text><reply-code>0000</reply-code><items><item
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01001624317/items/NYU50001624317000010"></item></items></get-item-list> '
  recorded_at: Tue, 21 Jul 2015 20:11:58 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01001624317/items/NYU50001624317000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>BAFC</z30-sub-library-code><z30-item-process-status-code>DP</z30-item-process-status-code><z30-item-status-code>02</z30-item-status-code><z30-collection-code>AFC</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>001624317</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31142029200758</z30-barcode><z30-sub-library>NYU
        Bobst Avery Fisher Center</z30-sub-library><z30-material>Videos</z30-material><z30-item-status>Offsite
        Available</z30-item-status><z30-open-date>20000629</z30-open-date><z30-update-date>20150203</z30-update-date><z30-cataloger>BROWNB</z30-cataloger><z30-date-last-return>20091029</z30-date-last-return><z30-hour-last-return>1640</z30-hour-last-return><z30-ip-last-return>128.122.91.15</z30-ip-last-return><z30-no-loans>004</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Main
        Collection</z30-collection><z30-call-no-type>4</z30-call-no-type><z30-call-no>VCA
        9649</z30-call-no><z30-call-no-key>4 $$jvca 9649</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description></z30-description><z30-note-opac></z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number></z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price>129.00</z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>00000000</z30-arrival-date><z30-item-statistic></z30-item-statistic><z30-item-process-status>Depository</z30-item-process-status><z30-copy-id></z30-copy-id><z30-hol-doc-number>001647433</z30-hol-doc-number><z30-temp-location>No</z30-temp-location><z30-enumeration-a></z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type></z30-85x-type><z30-depository-id>NYURS</z30-depository-id><z30-linking-number>000000000</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>002</z30-maintenance-count><z30-process-status-date>20150203</z30-process-status-date><z30-upd-time-stamp>201502031632059</z30-upd-time-stamp><z30-ip-last-return-v6></z30-ip-last-return-v6></z30><z13><translate-change-active-library>NYU50</translate-change-active-library><z13-doc-number>001624317</z13-doc-number><z13-year>1999</z13-year><z13-open-date>20080618</z13-open-date><z13-update-date>20080618</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC4</z13-call-no-code><z13-call-no></z13-call-no><z13-author-code></z13-author-code><z13-author></z13-author><z13-title-code>24500</z13-title-code><z13-title>To
        kill a mockingbird</z13-title><z13-imprint-code>260</z13-imprint-code><z13-imprint>Princeton,
        N.J. : Films for the Humanities &amp; Sciences, c1999.</z13-imprint><z13-isbn-issn-code></z13-isbn-issn-code><z13-isbn-issn></z13-isbn-issn><z13-upd-time-stamp>201412071437547</z13-upd-time-stamp></z13><status>Offsite
        Available</status></item></get-item> '
  recorded_at: Tue, 21 Jul 2015 20:11:59 GMT
- request:
    method: get
    uri: http://www.archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22to%20kill%20a%20mockingbird%22%20AND%20creator:(gray)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&xmlsearch=Search&rows=999&q=title:%22to+kill+a+mockingbird%22+AND+creator:%28gray%29+AND+(mediatype:texts+OR+mediatype:audio)
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>nginx/1.4.6 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 21 Jul 2015 20:11:59 GMT
- request:
    method: get
    uri: http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22to%20kill%20a%20mockingbird%22%20AND%20creator:(gray)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":3,"params":{"wt":"json","rows":"999","qin":"title:\"to
        kill a mockingbird\" AND creator:(gray) AND (mediatype:texts OR mediatype:audio)","fl":"*","start":"0","q":"title:\"to
        kill a mockingbird\" AND creator:(gray ) AND ( mediatype:texts OR mediatype:audio
        )"}},"response":{"numFound":0,"start":0,"docs":[]}}'
  recorded_at: Tue, 21 Jul 2015 20:11:59 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/json/oclc:42739441
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |2-


        {"oclc:42739441":{"records":[],"items":[]}}
  recorded_at: Tue, 21 Jul 2015 20:11:59 GMT
[...]
- request:
    method: get
    uri: http://worldcat.org/identities/search/PersonalIdentities?maximumRecords=1&query=local.FamilyName%20=%20%22Gray%22%20and%20local.OCLCNumber%20=%20%2242739441%22&sortKeys=holdingscount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"  encoding=\"UTF-8\"?> \n<searchRetrieveResponse
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.loc.gov/zing/srw/ http://www.loc.gov/standards/sru/sru1-1archive/xml-files/srw-types.xsd\"
        xmlns=\"http://www.loc.gov/zing/srw/\"><version xsi:type=\"xsd:string\">1.1</version><numberOfRecords
        xsi:type=\"xsd:nonNegativeInteger\">0</numberOfRecords><resultSetIdleTime
        xsi:type=\"xsd:positiveInteger\">1</resultSetIdleTime><echoedSearchRetrieveRequest
        xsi:type=\"ns1:echoedSearchRetrieveRequestType\" xmlns:ns1=\"http://www.loc.gov/zing/srw/\"><version
        xsi:type=\"xsd:string\">1.1</version><query xsi:type=\"xsd:string\">local.FamilyName
        = &quot;Gray&quot; and local.OCLCNumber = &quot;42739441&quot;</query><xQuery><ns2:triple
        xsi:type=\"ns2:tripleType\" xmlns:ns2=\"http://www.loc.gov/zing/cql/xcql/\"><ns2:boolean
        xsi:type=\"ns2:booleanType\"><ns2:value xsi:type=\"xsd:string\">and</ns2:value></ns2:boolean><ns2:leftOperand
        xsi:type=\"ns2:operandType\"><ns2:searchClause xsi:type=\"ns2:searchClauseType\"><ns2:index
        xsi:type=\"xsd:string\">local.FamilyName</ns2:index><ns2:relation xsi:type=\"ns2:relationType\"><ns2:value
        xsi:type=\"xsd:string\">=</ns2:value></ns2:relation><ns2:term xsi:type=\"xsd:string\">Gray</ns2:term></ns2:searchClause></ns2:leftOperand><ns2:rightOperand
        xsi:type=\"ns2:operandType\"><ns2:searchClause xsi:type=\"ns2:searchClauseType\"><ns2:index
        xsi:type=\"xsd:string\">local.OCLCNumber</ns2:index><ns2:relation xsi:type=\"ns2:relationType\"><ns2:value
        xsi:type=\"xsd:string\">=</ns2:value></ns2:relation><ns2:term xsi:type=\"xsd:string\">42739441</ns2:term></ns2:searchClause></ns2:rightOperand></ns2:triple></xQuery><maximumRecords
        xsi:type=\"xsd:nonNegativeInteger\">1</maximumRecords><recordSchema xsi:type=\"xsd:string\">default</recordSchema><sortKeys
        xsi:type=\"xsd:string\">holdingscount</sortKeys></echoedSearchRetrieveRequest><extraResponseData
        xsi:type=\"ns3:extraDataType\" xmlns:ns3=\"http://www.loc.gov/zing/srw/\"><ns4:extraData
        xmlns=\"http://oclc.org/srw/extraData\" xmlns:ns4=\"http://oclc.org/srw/extraData\"><ns4:databaseTitle>WorldCat
        Personal Identity Records</ns4:databaseTitle></ns4:extraData></extraResponseData></searchRetrieveResponse>"
  recorded_at: Tue, 21 Jul 2015 20:11:59 GMT
[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01001624317/items/NYU50001624317000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><item-serv><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>BAFC</z30-sub-library-code><z30-item-process-status-code>DP</z30-item-process-status-code><z30-item-status-code>02</z30-item-status-code><z30-collection-code>AFC</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>001624317</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31142029200758</z30-barcode><z30-sub-lib[...]
