---
http_interactions:
- request:
    method: post
    uri: https://login.library.edu/pds
    body:
      encoding: UTF-8
      string: func=get-attribute&attribute=bor_info&calling_system=getit&pds_handle=PDS_HANDLE
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><bor-info><id>BOR_ID</id><exl_id>BOR_ID</exl_id><nyuidn>BOR_ID</nyuidn><barcode>BARCODE</barcode><bor-status>55</bor-status><expiry-date>20141031</expiry-date><name>Dev</name><uid>dev123</uid><email>dev.eloper@library.edu</email><email_address>dev.eloper@library.edu</email_address><institute>NYU</institute><cn>Dev
        Eloper</cn><givenname>Dev</givenname><sn>Eloper</sn><verification>VERIFICATION</verification><opensso>true</opensso><nyu_shibboleth>true</nyu_shibboleth><entitlements>urn:mace:nyu.edu:entl:its:smtpauth;urn:mace:nyu.edu:entl:its:wikispriv;urn:mace:nyu.edu:entl:its:classes;urn:mace:nyu.edu:entl:lib:eresources;urn:mace:nyu.edu:entl:its:qualtrics;urn:mace:nyu.edu:entl:its:wikispub;urn:mace:nyu.edu:entl:its:lynda;urn:mace:nyu.edu:entl:its:webspace;urn:mace:nyu.edu:entl:lib:ideaexchange;urn:mace:nyu.edu:entl:its:projmgmt;urn:mace:nyu.edu:entl:its:files;urn:mace:incommon:entitlement:common:1</entitlements><edupersonentitlement><value>urn:mace:nyu.edu:entl:its:smtpauth</value><value>urn:mace:nyu.edu:entl:its:wikispriv</value><value>urn:mace:nyu.edu:entl:its:classes</value><value>urn:mace:nyu.edu:entl:lib:eresources</value><value>urn:mace:nyu.edu:entl:its:qualtrics</value><value>urn:mace:nyu.edu:entl:its:wikispub</value><value>urn:mace:nyu.edu:entl:its:lynda</value><value>urn:mace:nyu.edu:entl:its:webspace</value><value>urn:mace:nyu.edu:entl:lib:ideaexchange</value><value>urn:mace:nyu.edu:entl:its:projmgmt</value><value>urn:mace:nyu.edu:entl:its:files</value><value>urn:mace:incommon:entitlement:common:1</value></edupersonentitlement><ill-permission>Y</ill-permission><college_name>GA</college_name><dept_code>Graduate
        School of Arts and Science</dept_code><dept_name>CSCI</dept_name><major_code>DIVISION
        OF LIBRARIES</major_code><major>GACSCIMS</major></bor-info>
  recorded_at: Tue, 24 Jun 2014 16:50:52 GMT
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2014-06-24T09:56:14-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph003562911&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"ctx_tim\"&gt;2014-06-24T09:56:14-04:00&lt;/item&gt;\n  &lt;item
        key=\"sfx.request_id\"&gt;7318804&lt;/item&gt;\n  &lt;item key=\"rft.genre\"&gt;journal&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"sfx.ignore_date_threshold\"&gt;1&lt;/item&gt;\n
        \ &lt;item key=\"req.ip\"&gt;127.0.0.1&lt;/item&gt;\n  &lt;item key=\"rfr.rfr\"&gt;primo.exlibrisgroup.com:primo-nyu_aleph003[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:getRecord><request><![CDATA[<fullViewRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>nyu_aleph003562911</docId></fullViewRequest>]]></request></wsdl:getRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getRecordResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://primo.library.edu/PrimoWebServices/services/searcher"><getRecordReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
          &lt;JAGROOT&gt;
            &lt;RESULT&gt;
              &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;
                &lt;DOC LOCAL=&quot;true&quot;&gt;
                  &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;
                    &lt;record&gt;
                      &lt;control&g[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01003562911/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: <?xml version = "1.0" encoding = "UTF-8"?><get-item-list><reply-text>ok</reply-text><reply-code>0000</reply-code><items><item
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01003562911/items/NYU50003562911000010"></item></items></get-item-list>
  recorded_at: Tue, 24 Jun 2014 16:50:55 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01003562911/items/NYU50003562911000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>BOBST</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>01</z30-item-status-code><z30-collection-code>MAIN</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>003562911</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31142052922559</z30-barcode><z30-sub-library>NYU
        Bobst</z30-sub-library><z30-material>Books</z30-material><z30-item-status>Regular
        loan</z30-item-status><z30-open-date>20120121</z30-open-date><z30-update-date>20120406</z30-update-date><z30-cataloger>KAUFFMANR</z30-cataloger><z30-date-last-return>20121213</z30-date-last-return><z30-hour-last-return>1132</z30-hour-last-return><z30-ip-last-return>128.122.88.168</z30-ip-last-return><z30-no-loans>005</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Main
        Collection</z30-collection><z30-call-no-type>0</z30-call-no-type><z30-call-no>GV943.5
        2010 S68 2011</z30-call-no><z30-call-no-key>0 gv&quot;943 5 2010 s68 2011</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description></z30-description><z30-note-opac></z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number>20123286</z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price>39.00</z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>00000000</z30-arrival-date><z30-item-statistic></z30-item-statistic><z30-item-process-status>Not
        in Process</z30-item-process-status><z30-copy-id></z30-copy-id><z30-hol-doc-number>004385625</z30-hol-doc-number><z30-temp-location>No</z30-temp-location><z30-enumeration-a></z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type></z30-85x-type><z30-depository-id></z30-depository-id><z30-linking-number>000000000</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>005</z30-maintenance-count><z30-process-status-date>20120508</z30-process-status-date></z30><z13><translate-change-active-library>NYU50</translate-change-active-library><z13-doc-number>003562911</z13-doc-number><z13-year>2011</z13-year><z13-open-date>20120121</z13-open-date><z13-update-date>20120402</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC0</z13-call-no-code><z13-call-no>GV943.5
        2010</z13-call-no><z13-author-code></z13-author-code><z13-author></z13-author><z13-title-code>24500</z13-title-code><z13-title>South
        Africa&apos;s World Cup :</z13-title><z13-imprint-code>260</z13-imprint-code><z13-imprint>Scottsville,
        South Africa : University of KwaZulu-Natal Press, 2011.</z13-imprint><z13-isbn-issn-code>020</z13-isbn-issn-code><z13-isbn-issn>9781869142162</z13-isbn-issn></z13><status>10/11/14</status></item></get-item>'
  recorded_at: Tue, 24 Jun 2014 16:50:56 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01003562911/items/NYU50003562911000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: '<?xml version = "1.0" encoding = "UTF-8"?><item-serv><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>BOBST</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>01</z30-item-status-code><z30-collection-code>MAIN</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>003562911</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31142052922559</z30-barcode><z30-sub-lib[...]
[...]
- request:
    method: put
    uri: http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01003562911/items/NYU50003562911000010/hold
    body:
      encoding: US-ASCII
      string: post_xml=<hold-request-parameters><pickup-location>BOBST</pickup-location><last-interest-date></last-interest-date><start-interest-date></start-interest-date><sub-author></sub-author><sub-title></sub-title><pages></pages><note-1></note-1><note-2>User
        requested the entire item</note-2><rush></rush></hold-request-parameters>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: '<?xml version = "1.0" encoding = "UTF-8"?><put-item-hold><reply-text>ok</reply-text><reply-code>0000</reply-code><create-hold><note
        type="info">Action Succeeded</note></create-hold></put-item-hold> '
  recorded_at: Tue, 24 Jun 2014 16:50:59 GMT
- request:
    method: get
    uri: http://archive.org/advancedsearch.php?fl%5B0%5D=*&fmt=json&q=title:%22south%20africa's%20world%20cup%22%20AND%20creator:(cottle)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: '{"responseHeader":{"status":0,"QTime":640,"params":{"json.wrf":"","qin":"title:\"south
        africa''s world cup\" AND creator:(cottle) AND (mediatype:texts OR mediatype:audio)","fl":"*","indent":"","start":"0","q":"title:\"south
        africa''s world cup\" AND creator:(cottle ) AND ( mediatype:texts OR mediatype:audio
        )","wt":"json","rows":"999"}},"response":{"numFound":0,"start":0,"docs":[]}}'
  recorded_at: Thu, 31 Jul 2014 15:56:14 GMT
[...]
