---
http_interactions:
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01004197500/items/NYU50004197500000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><item-serv><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>NISAW</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>14</z30-item-status-code><z30-collection-code>LARGE</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>004197500</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31154050082799</z30-barcode><z30-sub-library>NYU
        Inst Study Ancient World</z30-sub-library><z30-material>Books</z30-material><z30-item-status>In
        house loan</z30-item-status><z30-open-date>20151020</z30-open-date><z30-update-date>20151020</z30-update-date><z30-cataloger>MCKEEG</z30-cataloger><z30-date-last-return>20151119</z30-date-last-return><z30-hour-last-return>1305</z30-hour-last-return><z30-ip-last-return>128.122.167.11</z30-ip-last-return><z30-no-loans>000</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Large
        Collection</z30-collection><z30-call-no-type>0</z30-call-no-type><z30-call-no>DS307
        .E94 2015</z30-call-no><z30-call-no-key>0 ds&quot;307 e94 2015</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description></z30-description><z30-note-opac></z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number></z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price></z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>00000000</z30-arrival-date><z30-item-statistic>c</z30-item-statistic><z30-item-process-status>Not
        in Process</z30-item-process-status><z30-copy-id></z30-copy-id><z30-hol-doc-number>005222625</z30-hol-doc-number><z30-temp-location>No</z30-temp-location><z30-enumeration-a></z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type></z30-85x-type><z30-depository-id></z30-depository-id><z30-linking-number>000000000</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>000</z30-maintenance-count><z30-process-status-date>20151020</z30-process-status-date><z30-upd-time-stamp>201511191305543</z30-upd-time-stamp><z30-ip-last-return-v6></z30-ip-last-return-v6></z30><z13><translate-change-active-library>NYU50</translate-change-active-library><z13-doc-number>004197500</z13-doc-number><z13-year>2015</z13-year><z13-open-date>20151020</z13-open-date><z13-update-date>20151020</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC0</z13-call-no-code><z13-call-no>DS307</z13-call-no><z13-author-code></z13-author-code><z13-author></z13-author><z13-title-code>24504</z13-title-code><z13-title>The
        eye of the shah :</z13-title><z13-imprint-code></z13-imprint-code><z13-imprint></z13-imprint><z13-isbn-issn-code>020</z13-isbn-issn-code><z13-isbn-issn>0691171580</z13-isbn-issn><z13-upd-time-stamp>201510201236269</z13-upd-time-stamp></z13><status>On
        Shelf</status><info type="HoldRequest" href="http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01004197500/items/NYU50004197500000010/hold"
        allowed="N"><note type="error">Item cannot be requested (tab15).</note></info><info
        type="ShortLoan" href="http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01004197500/items/NYU50004197500000010/shortLoan"
        allowed="N"><note type="error">The item has no short loan schedule</note></info><info
        type="PhotoRequest" href="http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01004197500/items/NYU50004197500000010/photo"
        allowed="N"><note type="error">Item cannot be photocopied (tab15).</note></info><info
        type="BookingRequest" allowed="N"><note type="error">Item cannot be booked
        (tab15).</note><adm-library>NYU50</adm-library><adm-doc-number>004197500</adm-doc-number><item-sequence>000010</item-sequence><exact-item>Y</exact-item></info></item></item-serv> '
  recorded_at: Tue, 22 Dec 2015 19:03:18 GMT
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2015-12-22T14:04:02-05:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph004197500&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"ctx_tim\"&gt;2015-12-22T14:04:02-05:00&lt;/item&gt;\n  &lt;item
        key=\"sfx.request_id\"&gt;10948242&lt;/item&gt;\n  &lt;item key=\"rft.genre\"&gt;journal&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"sfx.ignore_date_threshold\"&gt;1&lt;/item&gt;\n
        \ &lt;item key=\"req.ip\"&gt;127.0.0.1&lt;/item&gt;\n  &lt;item key=\"rfr.rfr\"&gt;primo.exlibrisgroup.com:primo-nyu_aleph00[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:getRecord><request><![CDATA[<fullViewRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>nyu_aleph004197500</docId></fullViewRequest>]]></request></wsdl:getRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getRecordResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://primo.library.edu/PrimoWebServices/services/searcher"><getRecordReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
          &lt;JAGROOT&gt;
            &lt;RESULT&gt;
              &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;
                &lt;DOC LOCAL=&quot;true&quot;&gt;
                  &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;
                    &lt;record&gt;
                      &lt;control&g[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01004197500/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item-list><reply-text>ok</reply-text><reply-code>0000</reply-code><items><item
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01004197500/items/NYU50004197500000010"></item></items></get-item-list> '
  recorded_at: Tue, 22 Dec 2015 19:04:03 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01004197500/items/NYU50004197500000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>NISAW</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>14</z30-item-status-code><z30-collection-code>LARGE</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>004197500</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31154050082799</z30-barcode><z30-sub-li[...]
- request:
    method: get
    uri: http://www.archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22the%20eye%20of%20the%20shah%22%20AND%20creator:(p%C3%A9rez%20gonz%C3%A1lez)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&xmlsearch=Search&rows=999&q=title:%22the+eye+of+the+shah%22+AND+creator:%28p%C3%A9rez+gonz%C3%A1lez%29+AND+(mediatype:texts+OR+mediatype:audio)
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>nginx/1.4.6 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 22 Dec 2015 19:04:03 GMT
- request:
    method: get
    uri: http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22the%20eye%20of%20the%20shah%22%20AND%20creator:(p%C3%A9rez%20gonz%C3%A1lez)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":7,"params":{"q":"title:\"the
        eye of the shah\" AND creator:(p\u00e9rez gonz\u00e1lez ) AND ( mediatype:texts
        OR mediatype:audio )","qin":"title:\"the eye of the shah\" AND creator:(p\u00e9rez
        gonz\u00e1lez) AND (mediatype:texts OR mediatype:audio)","fl":"*","wt":"json","rows":"999","start":0}},"response":{"numFound":0,"start":0,"docs":[]}}'
  recorded_at: Tue, 22 Dec 2015 19:04:03 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/json/oclc:925497538
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |2-


        {"oclc:925497538":{"records":[],"items":[]}}
  recorded_at: Tue, 22 Dec 2015 19:04:03 GMT
[...]
- request:
    method: get
    uri: http://worldcat.org/identities/search/PersonalIdentities?maximumRecords=1&query=local.FamilyName%20=%20%22P%C3%A9rez%20Gonz%C3%A1lez%22%20and%20local.OCLCNumber%20=%20%22925497538%22&sortKeys=holdingscount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"  encoding=\"UTF-8\"?> \n<searchRetrieveResponse
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.loc.gov/zing/srw/ http://www.loc.gov/standards/sru/sru1-1archive/xml-files/srw-types.xsd\"
        xmlns=\"http://www.loc.gov/zing/srw/\"><version xsi:type=\"xsd:string\">1.1</version><numberOfRecords
        xsi:type=\"xsd:nonNegativeInteger\">0</numberOfRecords><resultSetIdleTime
        xsi:type=\"xsd:positiveInteger\">1</resultSetIdleTime><echoedSearchRetrieveRequest
        xsi:type=\"ns1:echoedSearchRetrieveRequestType\" xmlns:ns1=\"http://www.loc.gov/zing/srw/\"><version
        xsi:type=\"xsd:string\">1.1</version><query xsi:type=\"xsd:string\">local.FamilyName
        = &quot;P&#xE9;rez Gonz&#xE1;lez&quot; and local.OCLCNumber = &quot;925497538&quot;</query><xQuery><ns2:triple
        xsi:type=\"ns2:tripleType\" xmlns:ns2=\"http://www.loc.gov/zing/cql/xcql/\"><ns2:boolean
        xsi:type=\"ns2:booleanType\"><ns2:value xsi:type=\"xsd:string\">and</ns2:value></ns2:boolean><ns2:leftOperand
        xsi:type=\"ns2:operandType\"><ns2:searchClause xsi:type=\"ns2:searchClauseType\"><ns2:index
        xsi:type=\"xsd:string\">local.FamilyName</ns2:index><ns2:relation xsi:type=\"ns2:relationType\"><ns2:value
        xsi:type=\"xsd:string\">=</ns2:value></ns2:relation><ns2:term xsi:type=\"xsd:string\">P&#xE9;rez
        Gonz&#xE1;lez</ns2:term></ns2:searchClause></ns2:leftOperand><ns2:rightOperand
        xsi:type=\"ns2:operandType\"><ns2:searchClause xsi:type=\"ns2:searchClauseType\"><ns2:index
        xsi:type=\"xsd:string\">local.OCLCNumber</ns2:index><ns2:relation xsi:type=\"ns2:relationType\"><ns2:value
        xsi:type=\"xsd:string\">=</ns2:value></ns2:relation><ns2:term xsi:type=\"xsd:string\">925497538</ns2:term></ns2:searchClause></ns2:rightOperand></ns2:triple></xQuery><maximumRecords
        xsi:type=\"xsd:nonNegativeInteger\">1</maximumRecords><recordSchema xsi:type=\"xsd:string\">default</recordSchema><sortKeys
        xsi:type=\"xsd:string\">holdingscount</sortKeys></echoedSearchRetrieveRequest><diagnostics
        xsi:type=\"ns3:diagnosticsType\" xmlns:ns3=\"http://www.loc.gov/zing/srw/\"><ns4:diagnostic
        xsi:type=\"ns4:diagnosticType\" xmlns:ns4=\"http://www.loc.gov/zing/srw/diagnostic/\"><ns4:uri
        xsi:type=\"xsd:anyURI\">info:srw/diagnostic/1/39</ns4:uri></ns4:diagnostic></diagnostics><extraResponseData
        xsi:type=\"ns5:extraDataType\" xmlns:ns5=\"http://www.loc.gov/zing/srw/\"><ns6:extraData
        xmlns=\"http://oclc.org/srw/extraData\" xmlns:ns6=\"http://oclc.org/srw/extraData\"><ns6:databaseTitle>WorldCat
        Personal Identity Records</ns6:databaseTitle></ns6:extraData></extraResponseData></searchRetrieveResponse>"
  recorded_at: Tue, 22 Dec 2015 19:04:04 GMT
[...]
