---
http_interactions:
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-05-20T17:22:13-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph004197500&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"ctx_tim\"&gt;2016-05-20T17:22:13-04:00&lt;/item&gt;\n  &lt;item
        key=\"sfx.request_id\"&gt;11974678&lt;/item&gt;\n  &lt;item key=\"rft.genre\"&gt;journal&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"sfx.ignore_date_threshold\"&gt;1&lt;/item&gt;\n
        \ &lt;item key=\"req.ip\"&gt;127.0.0.1&lt;/item&gt;\n  &lt;item key=\"rfr.rfr\"&gt;primo.exlibrisgroup.com:primo-nyu_aleph00[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:getRecord><request><![CDATA[<fullViewRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>nyu_aleph004197500</docId></fullViewRequest>]]></request></wsdl:getRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getRecordResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://primo.library.edu/PrimoWebServices/services/searcher"><getRecordReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
          &lt;JAGROOT&gt;
            &lt;RESULT&gt;
              &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;
                &lt;DOC LOCAL=&quot;true&quot;&gt;
                  &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;
                    &lt;record&gt;
                      &lt;control&g[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01004197500/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item-list><reply-text>ok</reply-text><reply-code>0000</reply-code><items><item
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01004197500/items/NYU50004197500000010"></item></items></get-item-list> '
  recorded_at: Fri, 20 May 2016 21:22:14 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01004197500/items/NYU50004197500000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>NISAW</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>14</z30-item-status-code><z30-collection-code>LARGE</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>004197500</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31154050082799</z30-barcode><z30-sub-library>NYU
        Inst Study Ancient World</z30-sub-library><z30-material>Books</z30-material><z30-item-status>In
        house loan</z30-item-status><z30-open-date>20151020</z30-open-date><z30-update-date>20151020</z30-update-date><z30-cataloger>MCKEEG</z30-cataloger><z30-date-last-return>20151119</z30-date-last-return><z30-hour-last-return>1305</z30-hour-last-return><z30-ip-last-return>128.122.167.11</z30-ip-last-return><z30-no-loans>000</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Large
        Collection</z30-collection><z30-call-no-type>0</z30-call-no-type><z30-call-no>DS307
        .E94 2015</z30-call-no><z30-call-no-key>0 ds&quot;307 e94 2015</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description></z30-description><z30-note-opac></z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number></z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price></z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>00000000</z30-arrival-date><z30-item-statistic>c</z30-item-statistic><z30-item-process-status>Not
        in Process</z30-item-process-status><z30-copy-id></z30-copy-id><z30-hol-doc-number>005222625</z30-hol-doc-number><z30-temp-location>No</z30-temp-location><z30-enumeration-a></z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type></z30-85x-type><z30-depository-id></z30-depository-id><z30-linking-number>000000000</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>000</z30-maintenance-count><z30-process-status-date>20151020</z30-process-status-date><z30-upd-time-stamp>201511191305543</z30-upd-time-stamp><z30-ip-last-return-v6></z30-ip-last-return-v6></z30><z13><translate-change-active-library>NYU50</translate-change-active-library><z13-doc-number>004197500</z13-doc-number><z13-year>2015</z13-year><z13-open-date>20151020</z13-open-date><z13-update-date>20151020</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC0</z13-call-no-code><z13-call-no>DS307</z13-call-no><z13-author-code></z13-author-code><z13-author></z13-author><z13-title-code>24504</z13-title-code><z13-title>The
        eye of the shah :</z13-title><z13-imprint-code></z13-imprint-code><z13-imprint></z13-imprint><z13-isbn-issn-code>020</z13-isbn-issn-code><z13-isbn-issn>0691171580</z13-isbn-issn><z13-upd-time-stamp>201510201236269</z13-upd-time-stamp></z13><status>On
        Shelf</status></item></get-item> '
  recorded_at: Fri, 20 May 2016 21:22:14 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/patron/BOR_ID/record/NYU01004197500/items/NYU50004197500000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><item-serv><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>NISAW</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>14</z30-item-status-code><z30-collection-code>LARGE</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>004197500</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31154050082799</z30-barcode><z30-sub-li[...]
- request:
    method: get
    uri: http://www.archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22the%20eye%20of%20the%20shah%22%20AND%20creator:(chi)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&xmlsearch=Search&rows=999&q=title:%22the+eye+of+the+shah%22+AND+creator:%28chi%29+AND+(mediatype:texts+OR+mediatype:audio)
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>nginx/1.4.6 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 20 May 2016 21:22:15 GMT
- request:
    method: get
    uri: https://catalog.hathitrust.org/api/volumes/brief/json/oclc:925497538
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"oclc:925497538":{"records":[],"items":[]}}'
  recorded_at: Fri, 20 May 2016 21:22:15 GMT
- request:
    method: get
    uri: http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22the%20eye%20of%20the%20shah%22%20AND%20creator:(chi)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":10,"params":{"q":"title:\"the
        eye of the shah\" AND creator:(chi ) AND ( mediatype:texts OR mediatype:audio
        )","qin":"title:\"the eye of the shah\" AND creator:(chi) AND (mediatype:texts
        OR mediatype:audio)","fl":"*","wt":"json","rows":"999","start":0}},"response":{"numFound":0,"start":0,"docs":[]}}'
  recorded_at: Fri, 20 May 2016 21:22:15 GMT
[...]
- request:
    method: get
    uri: http://worldcat.org/identities/search/PersonalIdentities?maximumRecords=1&query=local.FamilyName%20=%20%22Chi%22%20and%20local.OCLCNumber%20=%20%22925497538%22&sortKeys=holdingscount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"  encoding=\"UTF-8\"?> \n<searchRetrieveResponse
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.loc.gov/zing/srw/ http://www.loc.gov/standards/sru/sru1-1archive/xml-files/srw-types.xsd\"
        xmlns=\"http://www.loc.gov/zing/srw/\"><version xsi:type=\"xsd:string\">1.1</version><numberOfRecords
        xsi:type=\"xsd:nonNegativeInteger\">1</numberOfRecords><resultSetIdleTime
        xsi:type=\"xsd:positiveInteger\">1</resultSetIdleTime><records xsi:type=\"ns1:recordsType\"
        xmlns:ns1=\"http://www.loc.gov/zing/srw/\"><record xsi:type=\"ns1:recordType\"><recordSchema
        xsi:type=\"xsd:string\">info:srw/schema/1/Identities</recordSchema><recordPacking
        xsi:type=\"xsd:string\">xml</recordPacking><recordData xsi:type=\"ns1:stringOrXmlFragment\"><Identity
        type=\"personal\" xmlns=\"\"><creationtime>Thu May  5 19:37:00 2016 UTC</creationtime><pnkey>lccn-no2006106412</pnkey><audLevel><min><level>0.55</level><title>The
        lost world of old Europe : the Danube valley, 5000-3500 BC /</title></min><avg><level>0.62</level></avg><max><level>1.00</level><title>Edge
        of empires</title></max></audLevel><authorityInfo><viafid>10183759</viafid><lccn>no2006106412</lccn><arn>7072441</arn><x400><rawName><suba>Chi
        Jennifer</suba></rawName></x400><x400><rawName><suba>Chi, Jennifer Y.</suba></rawName></x400></authorityInfo><associatedNames><name
        count=\"634\"><normName>lccn-no2008092083</normName><rawName><suba>New York
        University</suba><subb>Institute for the Study of the Ancient World</subb></rawName><relator
        count=\"1\">pbl</relator><relator count=\"1\">edt</relator></name><name count=\"298\"><normName>lccn-nr2004033789</normName><rawName><suba>Anthony,
        David W.</suba></rawName><relator count=\"1\">edt</relator></name><name count=\"282\"><normName>lccn-n95008952</normName><rawName><suba>Bailey,
        Douglass W.</suba><subq>(Douglass Whitfield)</subq><subd>1963-</subd></rawName></name><name
        count=\"175\"><normName>lccn-n87822302</normName><rawName><suba>Rubinson,
        Karen Sydney</suba><subd>1943-</subd></rawName></name><name count=\"175\"><normName>lccn-nb2009005883</normName><rawName><suba>Stark,
        So&#x308;ren</suba></rawName></name><name count=\"174\"><normName>lccn-n95026124</normName><rawName><suba>Samashev,
        Z. S.</suba><subq>(Zai&#x306;nolla Samashevich)</subq></rawName></name><name
        count=\"173\"><normName>lccn-n92049473</normName><rawName><suba>Kvirkvelii&#xFE20;a&#xFE21;,
        G. T.</suba><subq>(Guram Tengizovich)</subq></rawName></name><name count=\"170\"><normName>lccn-n92049447</normName><rawName><suba>Kacharava,
        D. D.</suba><subq>(Daredzhan Davidovna)</subq></rawName><relator count=\"167\">aut</relator></name><name
        count=\"141\"><normName>lccn-n91078050</normName><rawName><suba>Azara, Pedro</suba><subd>1955-</subd></rawName><relator
        count=\"141\">edt</relator></name><name count=\"138\"><normName>lccn-no2011192508</normName><rawName><suba>Heath,
        Sebastian</suba><subd>1966-</subd></rawName><relator count=\"3\">edt</relator><relator
        count=\"10\">cre</relator></name></associatedNames><nameInfo type=\"personal\"><rawName><suba>Chi,
        Jennifer</suba></rawName><genres><genre count=\"919\" norm=\"1424028\">Exhibition
        catalogs</genre><genre count=\"206\" norm=\"1411628\">History</genre><genre
        count=\"38\" norm=\"1423692\">Catalogs</genre><genre count=\"34\" norm=\"1424187\">Exhibition,
        pictorial works</genre><genre count=\"33\" norm=\"1423874\">Pictorial works</genre><genre
        count=\"1\" norm=\"1423831\">Portraits</genre></genres><fastHeadings><fast
        count=\"807\" norm=\"810745\" size=\"5\" tag=\"650\">Antiquities</fast><fast
        count=\"715\" norm=\"917564\" size=\"5\" tag=\"650\">Excavations (Archaeology)</fast><fast
        count=\"290\" norm=\"810762\" size=\"5\" tag=\"650\">Antiquities, Prehistoric</fast><fast
        count=\"285\" norm=\"878433\" size=\"5\" tag=\"650\">Copper age</fast><fast
        count=\"277\" norm=\"1242332\" size=\"5\" tag=\"651\">Danube River Valley</fast><fast
        count=\"273\" norm=\"1245064\" size=\"5\" tag=\"651\">Europe</fast><fast coor=\"e0680000|n0480000\"
        count=\"172\" norm=\"1260664\" size=\"5\" tag=\"651\">Kazakhstan</fast><fast
        count=\"171\" norm=\"889315\" size=\"5\" tag=\"650\">Decorative arts</fast><fast
        count=\"164\" norm=\"850521\" size=\"5\" tag=\"650\">Cemeteries</fast><fast
        count=\"164\" norm=\"1230703\" size=\"5\" tag=\"651\">Georgia (Republic)--Vani</fast><fast
        count=\"164\" norm=\"946842\" size=\"4\" tag=\"650\">Grave goods</fast><fast
        count=\"156\" norm=\"94[...]
[...]
