.breadcrumb {
  color: lighten(black, 20%);
  background-color: $breadcrumbsBackgroundColor;
  padding: {
    top: $baseLineHeight/2 + 5;
    bottom: $baseLineHeight * 1.5 + 5;
    left: 20px;
  }
}

ul.nyu-breadcrumbs {
  @extend .pull-left;
  margin: {
    left: 0px;
  }
  li {
    display: inline;
  }
  li:after {
    content: " > ";
    color: darken($breadcrumbsBackgroundColor, 50%);
  }
  li.last:after {
    content: "";
  }
}
