#breadcrumb {
  @extend .pull-left
}

.breadcrumb {
  color: lighten(black, 20%);
  background-color: $breadcrumbsBackgroundColor;
  padding: {
    top: $baseLineHeight/2 + 5;
    bottom: $baseLineHeight * 1.5 + 5;
    left: 20px;
  }
  ul {
    margin: {
      left: 0px;
    }
    .divider {
      color: darken($breadcrumbsBackgroundColor, 50%);
    }
  }
}