.form-horizontal {
  fieldset {
    margin-bottom: $baseLineHeight;
  }

  label {
    margin: {
      bottom: 1px;
    }
  }

  .control-group {
    margin-bottom: 0px;
  }

  .control-label {
    width: $maxSearchLabelWidth;
    padding-top: 1px;
    text-align: right;
  }

  .controls {
    margin-left: $maxSearchLabelWidth + 20;
    padding-top: 5px;

    label {
      display: inline;
    }
  }

  .submit-group {
    margin: {
      top: 5px;
    }
  }
}

input[type="submit"] {
  padding-top: 3px;
}