header {
  background: {
    image: url("https://library.nyu.edu/images/banner2.gif");
    position: top left;
    repeat: no-repeat;
    color: $nyuLibrariesDarkBrown;
  }
  height: 67px;
  
  a {
    @extend .pull-left;
    height: 67px;
    width: 150px;
  }
  
  span {
    visibility: hidden;
  }
  
  #bobcat_title {
    @extend .pull-right;
    height: 67px;
    width: 130px;
    background: {
      image: url("https://library.nyu.edu/images/common/bobcat_logo.png");
      repeat: no-repeat;
      position: center right;
    }
  }
}
