.separator {
  border-top: 1px solid $searchBorderColor;
  padding: {
    top: 15px;
  }
}

[class^="icons-"],
[class*=" icons-"] {
  @include icons;
}

.popover {
  width: auto;
}

.nyu-tip {
  @extend .pull-right;
  width: 225px;
  &:before, &:hover:before {
    @extend .btn;
    float: left;
    margin-right: 5px;
    padding: {
      top: 3px;
      bottom: 3px;
      left: 5px;
      right: 5px;
    }
    content: "Tip";
    @include background-image(linear-gradient(color-stops(#886EAE, lighten(#886EAE, 5%))));
    background-color: #886EAE;
    border-color: #886EAE;
    color: white;
  }
}