@mixin nyu-container-padding {
  padding: {
    left: 20px;
    right: 20px;
  }
}

@mixin sidebar {
  padding: {
    top: 5px;
    bottom: 5px;
    left: 10px;
  }
}

@mixin icons {
  display: inline-block;
  width: 16px;
  height: 16px;
  @include ie7-restore-right-whitespace();
  line-height: 16px;
  vertical-align: middle;
  margin-top: 1px;
}

@mixin nyu-content-type-icons {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

@mixin no-margin {
  margin: 0;
}

@mixin no-padding {
  padding: 0;
}

@mixin inline-list {
  display: inline;
  &:after {
    content: "\0000a0\02022\0000a0";
  }
  &:last-child:after {
    content: "";
  }
}