@media (max-width: 480px) {
  .nyu-container {
    padding: {
      left: 10px;
      right: 10px;
    }
  }
  
  .form-horizontal .controls {
    margin-left: 0;
    label {
      display: block;
    }
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: {
      top: 5px;
      bottom: 10px;
    }
  }

  label {
    margin: {
      left: 0px;
    }
  }

  div.entree {
    margin-left: 30%;
  }
}

@media (max-width: 979px) {
  .nyu-tip {
    float: none;
  }
  .popover {
    display: none !important;
  }

  .nav-tabs {
    display: none
  }

  #sidebar_tabs {
    display: block;
  }

  .sidebar {
    font: {
      size: $baseFontSize*1.25;
    }
    .sidebar-section {
      ul {
        li {
          margin: {
            top: $baseLineHeight*1.25;
            bottom: $baseLineHeight*1.25;
          }
        }
      }
    }
  }

  nav.breadcrumb {
    ul { 
      &.nyu-login {
        height: $baseLineHeight;
        [class*="icons"], { 
          background-image: none;
          padding: 0px;
        }
      }
      &.nyu-breadcrumbs {
        li:first-child {display: none;}
      }
    }
  }

  .nyu-resource {
    font: {
      size: $baseFontSize*1.25
    }
    line-height: $baseLineHeight*2;
    dl {
      dt, dd {
        padding: {
          top: $baseLineHeight;
        }
      }
    }
  }
}
