<div id="tabs" class="tabs">
	<ul>
		<li id="all">
			<a href="http://bobcatdev.library.nyu.edu/newschool" 
				title="Find resources in All Consortium Libraries"
				class="tip-delayed">
				Consortium Libraries
			</a>
		</li>
		<li id="ns">
			<a href="http://bobcatdev.library.nyu.edu/primo_library/libweb/action/search.do?mode=Basic&amp;vid=NS&amp;tab=ns" 
				title="Find New School Resources"
				class="tip-delayed">
				New School Resources
			</a>
		</li>
		<li id="remote" class="">
			<a href="https://webdev1.library.nyu.edu/arch/ns" 
				title="Search for articles, images and media by subject"
				class="tip-delayed">
				Articles and Databases
			</a>
		</li>
		<li id="databases" class="">
			<a href="https://webdev1.library.nyu.edu/arch/ns/databases/alphabetical/" 
				title="All databases by title"
				class="tip-delayed">
				Databases A-Z
			</a>
		</li>
		<li id="journals" class="selected">
			<%= link_to('Journals A-Z', {:controller=>'search', "umlaut.institution" => "NS"}, {
					:title => "Locate journals by title or citation",
					:class => "tip-delayed"}) %>
		</li>
		<li id="reserves" class="">
			<a href="http://bobcatdev.library.nyu.edu/primo_library/libweb/action/search.do?mode=Basic&amp;vid=NS&amp;tab=nscr" 
				title="Search for Reserves by title or instructor name"
				class="tip-delayed">
				Course Reserves
			</a>
		</li>
	</ul>
</div>