$brown: #653d24;
$az_blue: #0000ee;

@mixin border($color) {
  border:1px solid $color;
}

@mixin data_width($width) {
  width: $width;
}

@mixin left_width {
  @include data_width(18em)
}

@mixin center_width {
  @include data_width(26em)
}

@mixin right_width {
  @include data_width(10em)
}

.toggle_options {
	display: block;
	margin-top: .5em;
}

.outlineBox {
  @include border($brown)
}

.search div.data {
	margin-bottom: 1em;
	clear: both;
  .left {
    @include left_width;
  	display: block;
  	float: left;
  	text-align: right;
  	margin-right: 1em;
  	line-height: 26px;
  }
  .center {
    @include center_width;
  }
  .right {
  	width: 10em;
  }
} 

.azNav {
	text-align: left;
	font-size: 16px;

  a {
  	color: $az_blue;
  	font-size: 1em !important;
  	line-height: 1.7em;
  	&:hover {
    	text-decoration: none;
    }
  }
}

.nyulibrary_icons_information:hover {
	text-decoration: none;
}

.nyulibrary_icons_information span {
	display: none;
}

#search_advanced,
#browse {
	border-top: #ccc 2px solid;
}

.keepTogether {
	white-space:nowrap;
}

#browse .azNav {
	margin: 10px 0 10px 0  !important;
	padding: 10px 0px 0px 0px !important;
	border: 0;
	text-align: left;
	font-size: 14px;
  a {
  	font-weight: bold;
  	padding:.15em .3em .15em .3em;
    @include border(#bbb);
  	text-decoration: none;
  	color : $az_blue;
  	background-color: #fff;
  	line-height: 1.7em;
  	&:hover {
    	background-color: #eee;
    }
  }
}

.delivery a {
	color: green;
	text-decoration: underline;
}

#count {
	float: none;
}
