@import "compass";
@import "nyulibraries_stylesheets/icons/*.png";
@include all-icons-sprites;
@import "nyulibraries_stylesheets/nyulibraries/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "resolve/variables";
@import "nyulibraries_stylesheets/nyulibraries/ns/variables";
@import "umlaut";
@import "nyulibraries_stylesheets/nyulibraries/header";
@import "nyulibraries_stylesheets/nyulibraries/login";
@import "nyulibraries_stylesheets/nyulibraries/nav";
@import "nyulibraries_stylesheets/nyulibraries/mixins";
@import "nyulibraries_stylesheets/nyulibraries/responsive";
@import "nyulibraries_stylesheets/nyulibraries/misc";
@import "resolve/common";
@import "resolve/permalink";
@import "nyulibraries_stylesheets/nyulibraries/ns/misc";
@import "nyulibraries_stylesheets/nyulibraries/ns/header";

.header {
  border-bottom: 2px solid #E8E8E8;
  background-color: #f9f9f7;
  background-repeat: no-repeat;
}

.header, nav {
  h1 {
    font-weight: bold;
  }
}

.nyu-login {
  line-height: 20px;
}
