@import "compass";
@import "nyulibraries_stylesheets/icons/*.png";
@include all-icons-sprites;
@import "nyulibraries_stylesheets/nyulibraries/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "resolve/variables";
@import "nyulibraries_stylesheets/nyulibraries/ns/variables";
@import "nyulibraries_stylesheets/nyulibraries/header";
@import "nyulibraries_stylesheets/nyulibraries/ns/header";
@import "nyulibraries_stylesheets/nyulibraries/login";
@import "nyulibraries_stylesheets/nyulibraries/nav";
@import "nyulibraries_stylesheets/nyulibraries/mixins";
@import "nyulibraries_stylesheets/nyulibraries/responsive";
@import "umlaut";
@import "nyulibraries_stylesheets/nyulibraries/misc";
@import "nyulibraries_stylesheets/nyulibraries/ns/misc";
@import "resolve/common";
@import "resolve/permalink";

body {
  background-image: url(http://library.newschool.edu/img/bg.png);
}

.header, nav {
  background-color: #f05123;
  h1 {
    font-weight: bold;
  }
}

.header h1, .login, .logout {
  color: white;
}
