@import "compass";
@import "nyulibraries_stylesheets/icons/*.png";
@include all-icons-sprites;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "nyulibraries_stylesheets/nyulibraries/variables";
@import "resolve/variables";
@import "nyulibraries_stylesheets/nyulibraries/header";
@import "nyulibraries_stylesheets/nyulibraries/login";
@import "nyulibraries_stylesheets/nyulibraries/nav";
@import "nyulibraries_stylesheets/nyulibraries/mixins";
@import "nyulibraries_stylesheets/nyulibraries/responsive";
@import "umlaut";
@import "nyulibraries_stylesheets/nyulibraries/misc";
@import "resolve/common";
@import "resolve/permalink";
@import "alerts";

.help-text-icon {
  display: none;
}

.header, nav {
  background-color: $nyu-purple;
  h1, .login, .logout {
    color: white;
  }
}

.header {
  background-image: image-url('nyulibraries_stylesheets/nyulibraries/nyu/header.png');
  background-position: 21px 21px;
  background-repeat: no-repeat;
  background-color: #57068C;
  height: 67px;
  h1 {
    @extend .invisible;
  }
}

