@import "compass";
@import "nyulibraries_stylesheets/icons/*.png";
@include all-icons-sprites;
@import "nyulibraries_stylesheets/nyulibraries/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "resolve/variables";
@import "nyulibraries_stylesheets/nyulibraries/nyuad/variables";
@import "nyulibraries_stylesheets/nyulibraries/header";
@import "nyulibraries_stylesheets/nyulibraries/nyuad/header";
@import "nyulibraries_stylesheets/nyulibraries/login";
@import "nyulibraries_stylesheets/nyulibraries/nav";
@import "nyulibraries_stylesheets/nyulibraries/mixins";
@import "nyulibraries_stylesheets/nyulibraries/responsive";
@import "umlaut";
@import "nyulibraries_stylesheets/nyulibraries/misc";
@import "resolve/common";
@import "resolve/permalink";

.header, nav {
  background-color: $nyu-purple;
  // background-color: #a4121f;
  h1, .login, .logout {
    color: white;
  }
}

.header {
  background-image: image-url('nyulibraries/nyuad/header.png');
  background-position: 30px;
  background-repeat: no-repeat;
  background-color: $nyu-purple;
  background-attachment: scroll;
  height: 171px;
  h1 {
    @extend .invisible;
  }
}
