@import "compass";
@import "icons/*.png";
@include all-icons-sprites;
@import "nyulibraries/variables";
@import "resolve/variables";
@import "nyulibraries/header";
@import "nyulibraries/login";
@import "nyulibraries/mixins";
@import "nyulibraries/responsive";
@import "umlaut";
@import "nyulibraries/misc";

#permalink {
  @extend .pull-left;
}

.umlaut-container {
  h1 {
    visibility: hidden;
  }
  border: {
    top: none;
  }
}

.wayfinder {
  @extend .help;
}

.umlaut-section {
  &.document_delivery {
    @include iconed-response;
    .response_item i {
      background: {
        image: image-url("icons.png");
      }
      @extend .icons-famfamfam-book-go;
    }
  }
}