@import "compass";
@import "nyulibraries/variables";
@import "resolve/variables";
@import "nyulibraries/header";
@import "nyulibraries/login";
@import "nyulibraries/mixins";
@import "nyulibraries/responsive";
@import "umlaut";
@import "nyulibraries/misc";

#permalink {
  @extend .pull-left;
}

.umlaut-container {
  h1 {
    visibility: hidden;
  }
  border: {
    top: none;
  }
}

.wayfinder {
  @extend .help;
}