<div id="account" class="sidebar-section">
  <h2><a href="http://library.nyu.edu/info/myworkspace.html" class="nyulibrary_icons_help nyulibrary_help"><i class="icons-famfamfam-help"></i></a> My Workspace</h2>
  <ul>
    <% if current_user %>
      <li><a href="https://webdev1.library.nyu.edu/eshelf?institution=NYUAD">My e-shelf</a></li>
      <li><a href="https://webdev1.library.nyu.edu/eshelf/account?institution=NYUAD">My library account</a></li>
      <li><%= link_to "Log-out " + current_user.firstname, logout_url, :class=>"logout" %></li>
    <% else %>
      <li><a href="https://webdev1.library.nyu.edu/eshelf?institution=NYUAD">Guest e-shelf (log in for more options)</a></li>
    <% end %>
  </ul>
</div>
<div id="help" class="sidebar-section">
  <h2>Need help?</h2>
  <ul>
    <li><a href="http://library.nyu.edu/help/ejournals.html" target="_blank">Help using the E-Journals A-Z tab</a></li>
    <li><a href="http://nyuad.nyu.edu/academics/library/library.ask.html" target="_blank" id="adaal">Ask a NYUAD Librarian</a></li>
    <li><a href="https://library.nyu.edu/ask/" target="_blank" id="nyaal">Ask a NY Librarian</a></li>
  </ul>
</div>
<div id="additional_options" class="sidebar-section">
  <h2>Additional Options</h2>
  <ul>
    <li><a href="https://webdev1.library.nyu.edu/arch/nyuad" target="_blank">Find articles on your topic</a></li>
  </ul>
</div>
