<%= sidebar_section("help", content_tag(:h2, "Need help?")) do %>
  <ul class="nav-list">
    <li><a href="http://library.nyu.edu/help/ejournals.html" target="_blank">Help using the E-Journals A-Z tab</a></li>
    <li><a href="http://nyuad.nyu.edu/academics/library/library.ask.html" target="_blank" id="ad_aal">Ask a NYUAD Librarian</a></li>
    <li><a href="https://library.nyu.edu/ask/" target="_blank" id="ny_aal">Ask a NY Librarian</a></li>
  </ul>
<% end %>
<%= sidebar_section("additional_options", content_tag(:h2, "Additional Options")) do %>
  <ul class="nav-list">
    <li><a href="https://arch.library.nyu.edu/nyuad" target="_blank">Find articles on your topic</a></li>
  </ul>
<% end %>
