<%= sidebar_section("help", content_tag(:h2, "Need help?")) do %>
  <ul class="nav-list">
    <li><a href="http://guides.library.newschool.edu/" target="_blank">Subject/Research Guides</a></li>
    <li><a href="http://answers.library.newschool.edu" target="_blank">Ask a Librarian</a></li>
    <li>Text a Librarian - 646.480.6309</li>
    <li><a href="http://library.newschool.edu/reference/directory" target="_blank">Librarians By Subject</a></li>
    <li><a href="http://library.newschool.edu/reference/schedule" target="_blank" title="One-on-One assistance">Schedule an Appointment</a></li>
  </ul>
<% end %>
