<%= sidebar_section("additional_options", content_tag(:h2, "Additional Options")) do %>
  <ul class="nav-list">
    <li><a href="https://arch.library.nyu.edu/ns/databases/subject/popular-databases">Popular Databases</a></li>
    <li><a href="https://arch.library.nyu.edu/ns/databases/subject/trial-databases">Trial Databases</a></li>
  </ul>
<% end %>
<%= sidebar_section("help", content_tag(:h2, "Need help?")) do %>
  <ul class="nav-list">
    <li><a href="http://library.newschool.edu/primo/help/journals.php" target="_blank">Help using the Journals A-Z Tab</a></li>
    <li><a href="http://library.newschool.edu/primo/tutorials/" target="_blank">Tutorials and Self-Help</a></li>
    <li><a href="http://guides.library.newschool.edu/" target="_blank">Subject/Research Guides</a></li>
    <li><a href="http://answers.library.newschool.edu" target="_blank">Ask a Librarian</a></li>
    <li>Text a Librarian - 646.480.6309</li>
    <li><a href="http://library.newschool.edu/reference/directory" target="_blank">Librarians By Subject</a></li>
    <li><a href="http://library.newschool.edu/reference/schedule" target="_blank" title="One-on-One assistance">Schedule an Appointment</a></li>
  </ul>
<% end %>
