---
http_interactions:
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2014-04-01T16:28:26-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rfr_id=info:sid/primo.exlibrisgroup.com:primo-nyu_aleph000762323&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"ctx_tim\"&gt;2014-04-01T16:28:26-04:00&lt;/item&gt;\n  &lt;item
        key=\"sfx.request_id\"&gt;6731537&lt;/item&gt;\n  &lt;item key=\"rft.genre\"&gt;journal&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"sfx.ignore_date_threshold\"&gt;1&lt;/item&gt;\n
        \ &lt;item key=\"req.ip\"&gt;127.0.0.1&lt;/item&gt;\n  &lt;item key=\"rfr.rfr\"&gt;primo.exlibrisgroup.com:primo-nyu_aleph000[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:getRecord><request><![CDATA[<fullViewRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>nyu_aleph000762323</docId></fullViewRequest>]]></request></wsdl:getRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"getRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:getRecordResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://primo.library.edu/PrimoWebServices/services/searcher\"><getRecordReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n  &lt;JAGROOT&gt;\n
        \   &lt;RESULT&gt;\n      &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;\n        &lt;DOC
        LOCAL=&quot;true&quot;&gt;\n          &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;\n
        \           &lt;record&gt;\n              &lt;control&gt;\n           [...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01000762323/items?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><get-item-list><reply-text>ok</reply-text><reply-code>0000</reply-code><items><item
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01000762323/items/NYU50000762323000010"><z30-sub-library-code>BOBST</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>01</z30-item-status-code><z30-collection-code>MAIN</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>000762323</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31142032411665</z30-barcode><z30-sub-library>NYU
        Bobst</z30-sub-library><z30-material>Books</z30-material><z30-item-status>Regular
        loan</z30-item-status><z30-open-date>20020626</z30-open-date><z30-update-date>20020815</z30-update-date><z30-cataloger>PRIMUSM</z30-cataloger><z30-date-last-return>20090524</z30-date-last-return><z30-hour-last-return>1220</z30-hour-last-return><z30-ip-last-return>128.122.88.177</z30-ip-last-return><z30-no-loans>002</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Main
        Collection</z30-collection><z30-call-no-type>0</z30-call-no-type><z30-call-no>PR2807
        .A954 2001</z30-call-no><z30-call-no-key>0 pr#2807 a954 2001</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description></z30-description><z30-note-opac></z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number></z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price>33.75</z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>00000000</z30-arrival-date><z30-item-statistic></z30-item-statistic><z30-item-process-status>Not
        in Process</z30-item-process-status><z30-copy-id></z30-copy-id><z30-hol-doc-number>003163569</z30-hol-doc-number><z30-temp-location>No</z30-temp-location><z30-enumeration-a></z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type></z30-85x-type><z30-depository-id></z30-depository-id><z30-linking-number>000000000</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>001</z30-maintenance-count><z30-process-status-date>00000000</z30-process-status-date></z30><z13><translate-change-active-library>NYU50</translate-change-active-library><z13-doc-number>000762323</z13-doc-number><z13-year>2001</z13-year><z13-open-date>20080618</z13-open-date><z13-update-date>20080618</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC0</z13-call-no-code><z13-call-no>PR2807</z13-call-no><z13-author-code></z13-author-code><z13-author></z13-author><z13-title-code>24500</z13-title-code><z13-title>Approaches
        to teaching Shakespeare&apos;s Hamlet /</z13-title><z13-imprint-code>260</z13-imprint-code><z13-imprint>New
        York : Modern Language Association of America, 2001.</z13-imprint><z13-isbn-issn-code>020</z13-isbn-issn-code><z13-isbn-issn>0873527674
        (cloth)</z13-isbn-issn></z13><status>Billed as Lost</status></item></items></get-item-list>'
  recorded_at: Tue, 01 Apr 2014 20:28:28 GMT
- request:
    method: get
    uri: http://www.archive.org/advancedsearch.php?fl%5B0%5D=*&fmt=json&q=title:%22approaches%20to%20teaching%20shakespeare's%20hamlet%22%20AND%20creator:(kliman)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&xmlsearch=Search&rows=999&q=title:%22approaches+to+teaching+shakespeare%27s+hamlet%22+AND+creator:%28kliman%29+AND+(mediatype:texts+OR+mediatype:audio)
    body:
      encoding: US-ASCII
      string: ! "<html>\r\n<head><title>302 Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>nginx/1.1.19</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 01 Apr 2014 20:28:29 GMT
- request:
    method: get
    uri: http://catalog.hathitrust.org/api/volumes/brief/json/lccn:2001034297
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"lccn:2001034297":{"records":[],"items":[]}}'
  recorded_at: Tue, 01 Apr 2014 20:28:29 GMT
- request:
    method: get
    uri: http://archive.org/advancedsearch.php?fl%5B0%5D=*&fmt=json&q=title:%22approaches%20to%20teaching%20shakespeare's%20hamlet%22%20AND%20creator:(kliman)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":5,"params":{"json.wrf":"","qin":"title:\"approaches
        to teaching shakespeare''s hamlet\" AND creator:(kliman) AND (mediatype:texts
        OR mediatype:audio)","fl":"*","indent":"","start":"0","q":"title:\"approaches
        to teaching shakespeare''s hamlet\" AND creator:(kliman ) AND ( mediatype:texts
        OR mediatype:audio )","wt":"json","rows":"999"}},"response":{"numFound":0,"start":0,"docs":[]}}'
  recorded_at: Tue, 01 Apr 2014 20:28:29 GMT
- request:
    method: get
    uri: http://worldcat.org/identities/search/PersonalIdentities?maximumRecords=1&query=local.Name%20all%20%22Bernice%20W%20Kliman%22&sortKeys=holdingscount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - /identities/search/PersonalIdentities?query=local.Name+all+%22Bernice+W+Kliman%22&sortKeys=holdingscount&maximumRecords=1&httpAccept=text/xml
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"  encoding=\"UTF-8\"?> \n<searchRetrieveResponse
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.loc.gov/zing/srw/ http://www.loc.gov/standards/sru/sru1-1archive/xml-files/srw-types.xsd\"
        xmlns=\"http://www.loc.gov/zing/srw/\"><version xsi:type=\"xsd:string\">1.1</version><numberOfRecords
        xsi:type=\"xsd:nonNegativeInteger\">0</numberOfRecords><resultSetIdleTime
        xsi:type=\"xsd:positiveInteger\">1</resultSetIdleTime><echoedSearchRetrieveRequest
        xsi:type=\"ns1:echoedSearchRetrieveRequestType\" xmlns:ns1=\"http://www.loc.gov/zing/srw/\"><version
        xsi:type=\"xsd:string\">1.1</version><query xsi:type=\"xsd:string\">local.Name
        all &amp;#34;Bernice W Kliman&amp;#34;</query><xQuery><ns2:searchClause xsi:type=\"ns2:searchClauseType\"
        xmlns:ns2=\"http://www.loc.gov/zing/cql/xcql/\"><ns2:index xsi:type=\"xsd:string\">local.Name</ns2:index><ns2:relation
        xsi:type=\"ns2:relationType\"><ns2:value xsi:type=\"xsd:string\">all</ns2:value></ns2:relation><ns2:term
        xsi:type=\"xsd:string\">Bernice W Kliman</ns2:term></ns2:searchClause></xQuery><maximumRecords
        xsi:type=\"xsd:nonNegativeInteger\">1</maximumRecords><recordSchema xsi:type=\"xsd:string\">default</recordSchema><sortKeys
        xsi:type=\"xsd:string\">holdingscount</sortKeys></echoedSearchRetrieveRequest><diagnostics
        xsi:type=\"ns3:diagnosticsType\" xmlns:ns3=\"http://www.loc.gov/zing/srw/\"><ns4:diagnostic
        xsi:type=\"ns4:diagnosticType\" xmlns:ns4=\"http://www.loc.gov/zing/srw/diagnostic/\"><ns4:uri
        xsi:type=\"xsd:anyURI\">info:srw/diagnostic/1/1</ns4:uri><ns4:details xsi:type=\"xsd:string\">local.Name</ns4:details></ns4:diagnostic></diagnostics><extraResponseData
        xsi:type=\"ns5:extraDataType\" xmlns:ns5=\"http://www.loc.gov/zing/srw/\"><ns6:extraData
        xmlns=\"http://oclc.org/srw/extraData\" xmlns:ns6=\"http://oclc.org/srw/extraData\"><ns6:databaseTitle>WorldCat
        Personal Identity Records</ns6:databaseTitle></ns6:extraData></extraResponseData></searchRetrieveResponse>"
  recorded_at: Tue, 01 Apr 2014 20:31:31 GMT
- request:
    method: get
    uri: http://worldcat.org/identities/search/PersonalIdentities?maximumRecords=1&query=local.FamilyName%20=%20%22Hetkowski%22%20and%20local.OCLCNumber%20=%20%22641911709%22&sortKeys=holdingscount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - /identities/search/PersonalIdentities?query=local.FamilyName+%3D+%22Hetkowski%22+and+local.OCLCNumber+%3D+%22641911709%22&sortKeys=holdingscount&maximumRecords=1&httpAccept=text/xml
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"  encoding=\"UTF-8\"?> \n<searchRetrieveResponse
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.loc.gov/zing/srw/ http://www.loc.gov/standards/sru/sru1-1archive/xml-files/srw-types.xsd\"
        xmlns=\"http://www.loc.gov/zing/srw/\"><version xsi:type=\"xsd:string\">1.1</version><numberOfRecords
        xsi:type=\"xsd:nonNegativeInteger\">1</numberOfRecords><resultSetIdleTime
        xsi:type=\"xsd:positiveInteger\">1</resultSetIdleTime><records xsi:type=\"ns1:recordsType\"
        xmlns:ns1=\"http://www.loc.gov/zing/srw/\"><record xsi:type=\"ns1:recordType\"><recordSchema
        xsi:type=\"xsd:string\">default</recordSchema><recordPacking xsi:type=\"xsd:string\">xml</recordPacking><recordData
        xsi:type=\"ns1:stringOrXmlFragment\"><Identity type=\"personal\" xmlns=\"\"><creationtime>Tue
        Dec 17 16:55:54 2013 UTC</creationtime><pnkey>lccn-n2009214430</pnkey><audLevel><min><level>0.47</level><title>Tecnologias
        digitais e educac&#x327;a&#x303;o : novas (re)configurac&#x327;o&#x303;es
        te&#x301;cnicas, sociais e espaciais /</title></min><avg><level>0.89</level></avg><max><level>1.00</level><title>Desenvolvimento
        sustenta&#x301;vel e tecnologias da informac&#x327;a&#x303;o e comunicac&#x327;a&#x303;o
        /</title></max></audLevel><authorityInfo><viafid>96776987</viafid><lccn>n
        2009214430</lccn><arn>8214245</arn></authorityInfo><associatedNames><name
        count=\"4\"><normName>lccn-n2009214446</normName><rawName><suba>Nascimento,
        Anto&#x302;nio Dias</suba></rawName></name><name count=\"2\"><normName>lccn-n2007214789</normName><rawName><suba>Alves,
        Lynn</suba></rawName></name><name count=\"2\"><normName>lccn-n2006219031</normName><rawName><suba>Fialho,
        Nadia Hage</suba></rawName></name><name count=\"1\"><normName>lccn-n2009214431</normName><rawName><suba>Becker,
        Adeline</suba></rawName></name><name count=\"1\"><normName>np-gewehr, rodrigo
        barros</normName><rawName><suba>Gewehr, Rodrigo Barros</suba></rawName></name><name
        count=\"1\"><normName>lccn-n2009214429</normName><rawName><suba>Lima Jr.,
        Arnaud Soares de</suba><subq>(Lima Junior)</subq></rawName></name></associatedNames><nameInfo
        type=\"personal\"><rawName><suba>Hetkowski, Ta&#x302;nia Maria</suba></rawName><languages
        count=\"1\"><lang code=\"por\" count=\"6\"/></languages><dates><date byCount=\"1\"
        byScaled=\"0.00\" count=\"1\" scaled=\"0.00\">2001</date><date byCount=\"1\"
        byScaled=\"0.00\" count=\"1\" scaled=\"0.00\">2006</date><date byCount=\"2\"
        byScaled=\"1.00\" count=\"2\" scaled=\"1.00\">2007</date><date byCount=\"1\"
        byScaled=\"0.00\" count=\"1\" scaled=\"0.00\">2008</date><date byCount=\"1\"
        byScaled=\"0.00\" count=\"1\" scaled=\"0.00\">2012</date></dates><totalHoldings>16</totalHoldings><workCount>6</workCount><recordCount>6</recordCount><ddc
        ident=\"370.9/81:22\">370.9/81</ddc><lcc ident=\"HN290.B3\">HN290.B3</lcc></nameInfo><by><citation><holdings>8</holdings><numEditions>1</numEditions><oclcnum>ocn641911709</oclcnum><recordType>book</recordType><languages
        count=\"1\"><lang code=\"por\" count=\"1\"/></languages><date>2008</date><dates
        different=\"1\" first=\"2008\" last=\"2008\"/><audLevel>0.98</audLevel><title>Poli&#x301;ticas
        pu&#x301;blicas &amp; inclusa&#x303;o digital</title></citation><citation><holdings>2</holdings><numEditions>1</numEditions><oclcnum>ocn300308092</oclcnum><recordType>book</recordType><languages
        count=\"1\"><lang code=\"por\" count=\"1\"/></languages><date>2007</da[...]
[...]
- request:
    method: get
    uri: http://archive.org/advancedsearch.php?fl%5B0%5D=*&fmt=json&q=title:%22pol%20ticas%20p%20blicas%20and%20amp%22%20AND%20creator:(hetkowski)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":4,"params":{"json.wrf":"","qin":"title:\"pol
        ticas p blicas and amp\" AND creator:(hetkowski) AND (mediatype:texts OR mediatype:audio)","fl":"*","indent":"","start":"0","q":"title:\"pol
        ticas p blicas and amp\" AND creator:(hetkowski ) AND ( mediatype:texts OR
        mediatype:audio )","wt":"json","rows":"999"}},"response":{"numFound":0,"start":0,"docs":[]}}'
  recorded_at: Tue, 01 Apr 2014 20:34:29 GMT
[...]
