---
http_interactions:
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-05-18T13:54:51-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rft.object_id=110975413975944&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"rft.issn\"&gt;0028-792X&lt;/item&gt;\n  &lt;item key=\"ctx_tim\"&gt;2016-05-18T13:54:51-04:00&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"_stash\"&gt;\n
        \  &lt;hash&gt;\n   &lt;/hash&gt;\n  &lt;/item&gt;\n  &lt;item key=\"ctx_ver\"&gt;Z39.88-2004&lt;/item&gt;\n
        \ &lt;item key=\"rft.eissn\"&gt;2163-3827&lt;/item&gt;\n  &lt;item key=\"rft.place\"&gt;New
        York&lt[...]
[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358493
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-hol><reply-text>ok</reply-text><reply-code>0000</reply-code><holding><leader>     cyH
        a22003855  4500</leader><controlfield tag="001">000358493</controlfield><controlfield
        tag="004">NYUb10624873</controlfield><controlfield tag="005">20080531115102.0</controlfield><controlfield
        tag="007">he|amb|||baca</controlfield><controlfield tag="008">0002235p||||8   0001a|eng0141223</controlfield><datafield
        tag="010" ind1=" " ind2=" "><subfield code="a">28005329</subfield></datafield><datafield
        tag="022" ind1="0" ind2=" "><subfield code="a">0028-792X</subfield></datafield><datafield
        tag="035" ind1="9" ind2=" "><subfield code="a">NYUH10624873/12349636</subfield></datafield><datafield
        tag="852" ind1="4" ind2=" "><subfield code="a">NNU</subfield><subfield code="b">BOBST</subfield><subfield
        code="c">MFORM</subfield><subfield code="j">Fiche/Per</subfield><subfield
        code="m">Non-circulating</subfield></datafield><datafield tag="866" ind1="5"
        ind2="0"><subfield code="8">1</subfield><subfield code="a">v.69(1993/1994)-v.74(1998/1999)</subfield></datafield><datafield
        tag="853" ind1="2" ind2="0"><subfield code="8">2</subfield><subfield code="a">v.</subfield><subfield
        code="b">no.</subfield><subfield code="u">2</subfield><subfield code="v">R</subfield><subfield
        code="i">(year)</subfield><subfield code="j">(month)</subfield><subfield code="w">f</subfield><subfield
        code="y">pm02/08,[...]
[...]
- request:
    method: get
    uri: http://sfx.med.nyu.edu/sfxlcl3?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-05-18T13:55:05-04:00&ctx_ver=Z39.88-2004&req.ip=216.165.125.0&rft.object_id=110975413975944&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
[...]
- request:
    method: get
    uri: http://sfx4.library.newschool.edu/ns?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-05-18T13:55:08-04:00&ctx_ver=Z39.88-2004&req.ip=149.31.0.0&rft.object_id=110975413975944&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
   [...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807742
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-hol><reply-text>ok</reply-text><reply-code>0000</reply-code><holding><leader>     ny  a22     3i
        4500</leader><controlfield tag="001">003807742</controlfield><controlfield
        tag="004">002904404</controlfield><controlfield tag="007">ta</controlfield><controlfield
        tag="008">0905194p    8   0001aaeng1000000</controlfield><datafield tag="852"
        ind1=" " ind2=" "><subfield code="b">CU</subfield><subfield code="c">PERIO</subfield><subfield
        code="m">Non-circulating</subfield><subfield code="a">NNCoo</subfield></datafield><datafield
        tag="866" ind1="3" ind2="1"><subfield code="8">1</subfield><subfield code="a">v.81(2005)-</subfield></datafield></holding></get-hol> '
  recorded_at: Wed, 18 May 2016 17:55:10 GMT
[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbiA9ICIxLjAiIGVuY29kaW5nID0gIlVURi04Ij8+PGdl
        dC1yZWNvcmQ+PHJlcGx5LXRleHQ+b2s8L3JlcGx5LXRleHQ+PHJlcGx5LWNv
        ZGU+M[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-hol-list><reply-text>ok</reply-text><reply-code>0000</reply-code><holdings><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807742"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807743"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60004671371"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358492"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358493"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358494"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60004982921"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358496"></holding></holdings></get-hol-list> '
  recorded_at: Wed, 18 May 2016 17:55:12 GMT
[...]
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxcooper?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-05-18T13:55:12-04:00&ctx_ver=Z39.88-2004&req.ip=199.98.16.0&rft.object_id=110975413975944&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
  [...]
[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:searchBrief><request><![CDATA[<searchRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator><QueryTerm><IndexField>isbn</IndexField><PrecisionOperator>exact</PrecisionOperator><Value>0028-792X</Value></QueryTerm></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution></searchRequest>]]></request></wsdl:searchBrief></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"searchBrief"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:searchBriefResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://primo.library.edu/PrimoWebServices/services/searcher\"><searchBriefReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;sear:SEGMENTS
        xmlns:sear=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;&lt;sear:JAGROOT&gt;&lt;sear:RESULT&gt;&lt;sear:QUERYTRANSFORMS/&gt;&lt;sear:FACETLIST
        ACCURATE_COUNTERS=&quot;true&quot;&gt;&lt;sear:FACET NAME=&quot;creator&quot;
        COUNT=&quot;3&quot;&gt;&lt;sear:FACET_VALUES KEY=&quot;White, E&quot; VALUE=&quot;1&quot;/&gt;&lt;sear:FACET_VALUES
        KEY=&quot;Wh[...]
- request:
    method: head
    uri: http://www.extranet.elsevier.com/inca_covers_store/issn/0028792X.gif
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 24 May 2016 22:20:22 GMT
- request:
    method: head
    uri: http://images.serialssolutions.com/ulrichs/0028792X.gif
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 24 May 2016 22:20:22 GMT
- request:
    method: get
    uri: http://www.archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22the%20new%20yorker%22%20AND%20creator:(ross)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html
      Location:
      - http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&xmlsearch=Search&rows=999&q=title:%22the+new+yorker%22+AND+creator:%28ross%29+AND+(mediatype:texts+OR+mediatype:audio)
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>302 Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>nginx/1.4.6 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 24 May 2016 22:20:23 GMT
- request:
    method: get
    uri: http://archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22the%20new%20yorker%22%20AND%20creator:(ross)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":71,"params":{"q":"title:\"the
        new yorker\" AND creator:(ross ) AND ( mediatype:texts OR mediatype:audio
        )","qin":"title:\"the new yorker\" AND creator:(ross) AND (mediatype:texts
        OR mediatype:audio)","fl":"*","wt":"json","rows":"999","start":0}},"response":{"numFound":0,"start":0,"docs":[]}}'
  recorded_at: Tue, 24 May 2016 22:20:24 GMT
- request:
    method: get
    uri: http://worldcat.org/identities/search/PersonalIdentities?maximumRecords=1&query=local.FamilyName%20=%20%22Ross%22%20and%20local.OCLCNumber%20=%20%221760231%22&sortKeys=holdingscount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"  encoding=\"UTF-8\"?> \n<searchRetrieveResponse
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.loc.gov/zing/srw/ http://www.loc.gov/standards/sru/sru1-1archive/xml-files/srw-types.xsd\"
        xmlns=\"http://www.loc.gov/zing/srw/\"><version xsi:type=\"xsd:string\">1.1</version><numberOfRecords
        xsi:type=\"xsd:nonNegativeInteger\">1</numberOfRecords><resultSetIdleTime
        xsi:type=\"xsd:positiveInteger\">1</resultSetIdleTime><records xsi:type=\"ns1:recordsType\"
        xmlns:ns1=\"http://www.loc.gov/zing/srw/\"><record xsi:type=\"ns1:recordType\"><recordSchema
        xsi:type=\"xsd:string\">info:srw/schema/1/Identities</recordSchema><recordPacking
        xsi:type=\"xsd:string\">xml</recordPacking><recordData xsi:type=\"ns1:stringOrXmlFragment\"><Identity
        type=\"personal\" xmlns=\"\"><creationtime>Thu May  5 19:07:39 2016 UTC</creationtime><pnkey>lccn-n83301641</pnkey><audLevel><min><level>0.03</level><title>The
        New Yorker</title></min><avg><level>0.17</level></avg><max><level>1.00</level><title>Persistence
        of Virus and Bacteria in Seawater</title></max></audLevel><authorityInfo><viafid>5048336</viafid><wikidataid>Q1585917</wikidataid><wikiLink>Harold_Ross</wikiLink><lccn>n
        \ 83301641</lccn><arn>1073872</arn><x400><rawName><suba>Harold Ross Amerikaans
        journalist (1892-1951)</suba></rawName></x400><x400><rawName><suba>Harold
        Ross US-amerikanischer Journalist und Gru&#x308;nder der Zeitung The New Yorker</suba></rawName></x400><x400><rawName><suba>Ross
        1892-1951</suba></rawName></x400><x400><rawName><suba>Ross, Harold 1892-1951</suba></rawName></x400><x400><rawName><suba>Wallace
        Ross, Harold 1892-1951</suba></rawName></x400><x400><rawName><suba>&#x425;&#x430;&#x440;&#x43E;&#x43B;&#x44C;&#x434;
        &#x420;&#x43E;&#x441;&#x441;</suba></rawName></x400><x400><rawName><suba>&#x647;&#x627;&#x631;&#x648;&#x644;&#x62F;
        &#x631;&#x627;&#x633; &#x698;&#x648;&#x631;&#x646;&#x627;&#x644;&#x6CC;&#x633;&#x62A;
        &#x627;&#x653;&#x645;&#x631;&#x6CC;&#x6A9;&#x627;&#x6CC;&#x6CC;</suba></rawName></x400></authorityInfo><associatedNames><name
        count=\"4464\"><normName>lccn-n79054648</normName><rawName><suba>White, E.
        B.</suba><subq>(Elwyn Brooks)</subq><subd>1899-1985</subd></rawName></name><name
        count=\"4463\"><normName>lccn-n79043666</normName><rawName><suba>White, Katharine
        Sergeant Angell</suba></rawName><relator count=\"4455\">edt</relator></name><name
        count=\"4455\"><normName>lccn-nr94026392</normName><rawName><suba>Irvin, Rea</suba><subd>1881-1972</subd></rawName></name><name
        count=\"2310\"><normName>lccn-n80036584</normName><rawName><suba>Thurber,
        James</suba><subd>1894-1961</subd></rawName><relator count=\"70\">ill</relator><relator
        count=\"2236\">aut</relator></name><name count=\"1461\"><normName>lccn-n94084623</normName><rawName><suba>Kunkel,
        Thomas</suba><subd>1955-</subd></rawName><relator count=\"896\">aut</relator><relator
        count=\"1\">edt</relator></name><name count=\"635\"><normName>lccn-n80034206</normName><rawName><suba>Kramer,
        Dale</suba></rawName><relator count=\"635\">aut</relator></name><name count=\"627\"><normName>lccn-n85347892</normName><rawName><suba>Grant,
        Jane C.</suba><subd>1892-1972</subd></rawName><relator count=\"626\">aut</relator></name><name
        count=\"171\"><normName>lccn-n2006048667</normName><rawName><suba>Van Doren,
        Adam</suba></rawName><relator count=\"51\">drt</relator></name><name count=\"147\"><normName>lccn-no96006547</normName><rawName><suba>Tucci,
        Stanley</suba></rawName><relator count=\"51\">nrt</relator></name><name count=\"146\"><normName>nc-van
        doren productions inc</normName><rawName><suba>Van Doren Productions, Inc</suba></rawName></name></associatedNames><nameInfo
        type=\"personal\"><rawName><suba>Ross, Harold Wallace</suba><subd>1892-1951</subd></rawName><genres><genre
        count=\"5969\" norm=\"1411641\">Periodicals</genre><genre count=\"4809\" norm=\"1423796\">Directories</genre><genre
        count=\"566\" norm=\"1423917\">Records and correspondence</genre><genre count=\"286\"
        norm=\"1423686\">Biography</genre><genre count=\"16\" norm=\"1423787\">Fiction</genre><genre
        count=\"4\" norm=\"1411637\">Juvenile works</genre><genre count=\"4\" norm=\"1411628\">History</genre><genre
        count=\"1\" norm=\"1411635\">Criticism, interpretation, etc</genre><genre
        count=\"1\" norm=\"1423900\">Sources</genre></genres><fastHeadings><fast count=\"5590\"
        norm=\"1204333\" size=\"5\" tag=\"651\">New York (State)--New York</fast><fast
        count=\"5141\" norm=\"125192\" size=\"5\" tag=\"600\">Ross, Harold Wallace,</fast><fast
        count=\"4972\" norm=\"975769\" size=\"5\" tag=\"650\">Intellectual life</fast><fast
        count=\"4935\" norm=\"999953\" size=\"5\" tag=\"650\">Literature</fast><fast
        count=\"4152\" norm=\"1788224\" size=\"5\" tag=\"630\">New Yorker (New York,
        N.Y. : 1925)</fast><fast coor=\"[...]
- request:
    method: get
    uri: https://catalog.hathitrust.org/api/volumes/brief/json/oclc:1760231;lccn:2011201780
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"oclc:1760231;lccn:2011201780":{"records":[],"items":[]}}'
  recorded_at: Tue, 24 May 2016 22:20:30 GMT
- request:
    method: get
    uri: http://sfx.med.nyu.edu/sfxlcl3?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-05-24T18:20:26-04:00&ctx_ver=Z39.88-2004&req.ip=180.169.77.32&rft.aufirst=Harold%20Wallace,&rft.aulast=Ross&rft.eissn=2163-3827&rft.genre=journal&rft.issn=0028-792X&rft.jtitle=The%20New%20Yorker&rft.language=eng&rft.lccn=%20%202011201780&rft.object_id=110975413975944&rft.oclcnum=1760231&rft.place=New%20York&rft.pub=F-R%20Pub.%20Corp.&rft.stitle=NEW%20YORKER&rft.title=The%20New%20Yor[...]
- request:
    method: get
    uri: http://recommender.service.exlibrisgroup.com/service/recommender/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-11-10T13:48:04-05:00&ctx_ver=Z39.88-2004&req.ip=149.31.0.0&res_dat=format=rss%26source=global%26token=NS_BX_TOKEN%26maxRecords=2%26threshold=50%26baseUrl=/ns/resolve?&rft.aufirst=Harold%20Wallace,&rft.aulast=Ross&rft.eissn=2163-3827&rft.genre=journal&rft.issn=0028-792X&rft.jtitle=The%20New%20Yorker&rft.language=eng&rft.lccn=%20%202011201780&rft.object_id=110975413975944&rft.oclcnum=1760231&rft.place=New%20York&rft.pub=F-R%20Pub.%20Corp.&rft.stitle=NEW%20YORKER&rft.title=The%20New%20Yorker&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<rss xmlns:bx=\"http://bx.exlibrisgroup.com/docs/schema/bx\"
        version=\"2.0\">\r\n  <channel>\r\n    <title />\r\n    <link />\r\n    <description
        />\r\n    <bx:statusCode code=\"01\" name=\"emptyList\">no matching documents
        were found</bx:statusCode>\r\n  </channel>\r\n</rss>\r\n\r\n"
  recorded_at: Thu, 10 Nov 2016 18:48:04 GMT
- request:
    method: post
    uri: http://solr.library.edu/select?wt=ruby
    body:
      encoding: US-ASCII
      string: fq=type%3ASfx4%5C%3A%5C%3ACu%5C%3A%5C%3AAzTitle&sort=score+desc%2C+title_sort_s+asc&q=NEW+YORKER&fl=*+score&qf=title_text%5E1.0&defType=edismax&bq=title_exact_sm%3ANEW%5C+YORKER%5E10.0&start=0&rows=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>1,'params'=>{'q'=>'NEW YORKER','defType'=>'edismax','qf'=>'title_text^1.0','fl'=>'* score','start'=>'0','fq'=>'type:Sfx4\\:\\:Cu\\:\\:AzTitle','sort'=>'score desc, title_sort_s asc','rows'=>'20','wt'=>'ruby','bq'=>'title_exact_sm:NEW\\ YORKER^10.0'}},'response'=>{'numFound'=>1,'start'=>0,'maxScore'=>12.566096,'docs'=>[{'id'=>'Sfx4::Cu::AzTitle 33300','object_id_ss'=>'110975413975944','title_display_ss'=>'The New Yorker','issn_ss'=>'0028-792X','isbn_ss'=>'','lccn_ss'=>'2011201780','_version_'=>1550859505147838465,'timestamp'=>'2016-11-13T05:27:58.34Z','score'=>12.566096}]}}
  recorded_at: Tue, 15 Nov 2016 20:30:26 GMT
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxcooper?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-11-15T15:39:02-05:00&ctx_ver=Z39.88-2004&req.ip=199.98.16.0&rfr_id=info:sid/sfxit.com:citation&rft.issn=0028-792X&rft.jtitle=The%20New%20Yorker&rft.object_id=110975413975944&rft_id=info:lccn/2011201780&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-[...]
- request:
    method: get
    uri: http://sfx4.library.newschool.edu/ns?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-11-15T15:53:44-05:00&ctx_ver=Z39.88-2004&req.ip=149.31.0.0&rfr_id=info:sid/sfxit.com:citation&rft.issn=0028-792X&rft.jtitle=The%20New%20Yorker&rft.object_id=110975413975944&rft_id=info:lccn/2011201780&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2[...]
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-11-15T15:55:17-05:00&ctx_ver=Z39.88-2004&req.ip=176.74.48.32&rfr_id=info:sid/sfxit.com:citation&rft.issn=0028-792X&rft.jtitle=The%20New%20Yorker&rft.object_id=110975413975944&rft_id=info:lccn/2011201780&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-[...]
[...]
- request:
    method: get
    uri: http://sfx.med.nyu.edu/sfxlcl3?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-11-15T15:55:29-05:00&ctx_ver=Z39.88-2004&req.ip=216.165.125.0&rfr_id=info:sid/sfxit.com:citation&rft.issn=0028-792X&rft.jtitle=The%20New%20Yorker&rft.object_id=110975413975944&rft_id=info:lccn/2011201780&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004[...]
[...]
- request:
    method: get
    uri: http://recommender.service.exlibrisgroup.com/service/recommender/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2016-11-16T14:09:06-05:00&ctx_ver=Z39.88-2004&req.ip=149.31.0.0&res_dat=format=rss%26source=global%26token=NS_BX_TOKEN%26maxRecords=2%26threshold=50%26baseUrl=/ns/resolve?&rfr_id=info:sid/sfxit.com:citation&rft.aufirst=Harold%20Wallace,&rft.aulast=Ross&rft.eissn=2163-3827&rft.genre=journal&rft.issn=0028-792X&rft.jtitle=The%20New%20Yorker&rft.language=eng&rft.lccn=%20%202011201780&rft.object_id=110975413975944&rft.oclcnum=1760231&rft.place=New%20York&rft.pub=F-R%20Pub.%20Corp.&rft.stitle=NEW%20YORKER&rft.title=The%20New%20Yorker&rft_id=info:lccn/2011201780&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<rss xmlns:bx=\"http://bx.exlibrisgroup.com/docs/schema/bx\"
        version=\"2.0\">\r\n  <channel>\r\n    <title />\r\n    <link />\r\n    <description
        />\r\n    <bx:statusCode code=\"01\" name=\"emptyList\">no matching documents
        were found</bx:statusCode>\r\n  </channel>\r\n</rss>\r\n\r\n"
  recorded_at: Wed, 16 Nov 2016 19:09:06 GMT
[...]
- request:
    method: get
    uri: http://sfx.med.nyu.edu/sfxlcl3?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-01-23T15:18:27-05:00&ctx_ver=Z39.88-2004&req.ip=180.169.77.32&rfr_id=info:sid/sfxit.com:citation&rft.aufirst=Harold%20Wallace,&rft.aulast=Ross&rft.eissn=2163-3827&rft.genre=journal&rft.issn=0028-792X&rft.jtitle=The%20New%20Yorker&rft.language=eng&rft.lccn=%20%202011201780&rft.object_id=110975413975944&rft.oclcnum=1760231&rft.place=New%20York&rft.pub=F-R%20Pub.%20Corp.&rft.stitle=NEW[...]
