---
http_interactions:
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-05-10T17:03:45-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.1&rft.object_id=110975413975944&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\n<ctx_obj_set>\n <ctx_obj
        identifier=\"\">\n  <ctx_obj_attributes>&lt;perldata&gt;\n &lt;hash&gt;\n
        \ &lt;item key=\"rft.issn\"&gt;0028-792X&lt;/item&gt;\n  &lt;item key=\"ctx_tim\"&gt;2017-05-10T17:03:45-04:00&lt;/item&gt;\n
        \ &lt;item key=\"sfx.show_availability\"&gt;1&lt;/item&gt;\n  &lt;item key=\"_stash\"&gt;\n
        \  &lt;hash&gt;\n   &lt;/hash&gt;\n  &lt;/item&gt;\n  &lt;item key=\"ctx_ver\"&gt;Z39.88-2004&lt;/item&gt;\n
        \ &lt;item key=\"rft.eissn\"&gt;2163-3827&lt;/item&gt;\n  &lt;item key=\"rft.place\"&gt;New
        York&lt[...]
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:searchBrief><request><![CDATA[<searchRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator><QueryTerm><IndexField>isbn</IndexField><PrecisionOperator>exact</PrecisionOperator><Value>0028-792X</Value></QueryTerm></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution></searchRequest>]]></request></wsdl:searchBrief></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"searchBrief"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:searchBriefResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://primo.library.edu/PrimoWebServices/services/searcher\"><searchBriefReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;sear:SEGMENTS
        xmlns:sear=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;&lt;sear:JAGROOT&gt;&lt;sear:RESULT&gt;&lt;sear:QUERYTRANSFORMS/&gt;&lt;sear:FACETLIST
        ACCURATE_COUNTERS=&quot;true&quot;&gt;&lt;sear:FACET NAME=&quot;creator&quot;
        COUNT=&quot;3&quot;&gt;&lt;sear:FACET_VALUES KEY=&quot;White, K&quot; VALUE=&quot;1&quot;/&gt;&lt;sear:FACET_VALUES
        KEY=&quot;Wh[...]
[...]
- request:
    method: get
    uri: http://sfx.med.nyu.edu/sfxlcl3?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-05-10T17:04:00-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.6&rft.object_id=110975413975944&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      mess[...]
- request:
    method: get
    uri: http://sfx4.library.newschool.edu/ns?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-05-10T17:04:03-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.8&rft.object_id=110975413975944&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxcooper?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-05-10T17:04:05-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.7&rft.object_id=110975413975944&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
- request:
    method: head
    uri: http://images.serialssolutions.com/ulrichs/0028792X.gif
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 11 May 2017 15:27:29 GMT
- request:
    method: head
    uri: http://www.extranet.elsevier.com/inca_covers_store/issn/0028792X.gif
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 11 May 2017 15:27:31 GMT
- request:
    method: get
    uri: https://catalog.hathitrust.org/api/volumes/brief/json/oclc:1760231;lccn:2011201780
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"oclc:1760231;lccn:2011201780":{"records":[],"items":[]}}'
  recorded_at: Thu, 11 May 2017 15:27:31 GMT
- request:
    method: get
    uri: http://www.archive.org/advancedsearch.php?fl%5B%5D=*&fmt=json&q=title:%22the%20new%20yorker%22%20AND%20creator:(ross)%20AND%20(mediatype:texts%20OR%20mediatype:audio)&rows=999&xmlsearch=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Temporarily Unavailable
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\n<head><title>Internet Archive: Scheduled Maintenance</title></head>\n<body>\n\n<table
        cellpadding=\"30\">\n\t<tr>\n\t\t<td width=\"200\">\n\t\t\t<p align=\"center\"><img
        src=\"/maintenance/ialogo.jpg\" width=\"200\" height=\"195\" border=\"0\"
        align=\"center\" /><br /><br />\n\t\t\t<img src=\"/maintenance/logo_WM.png\"
        width=\"150\" height=\"53\" border=\"0\" align=\"center\" /><br /><br />\n\t\t\t<img
        src=\"/maintenance/logo_OL-lg.png\" width=\"150\" height=\"95\" border=\"0\"
        align=\"center\" /><br /><br />\n\t\t\t<img src=\"/maintenance/ait-poster-logo.png\"
        width=\"150\" height=\"130\" border=\"0\" align=\"center\" /><br /><br />\n\t\t</td>\n\t\t<td
        valign=\"top\" width=\"500\">\n\t\t\t<p><h1>Scheduled Maintenance</h1></p>\n\t\t\t<p><font
        size=\"5\">The Internet Archive's sites are offline for scheduled maintenance
        and upgrades.</p>\n\t\t\t<p>Please check our twitter feed <a href=\"https://twitter.com/internetarchive\">@internetarchive</a>
        for updates.</p>\n\t\t\t<p>Sorry for the inconvenience.</font></p>\n\t\t</td>\n\t</tr>\n</table>\n
        \                                                 \n                                                  \n
        \                                                 \n                                                  \n</body>\n</html>\n"
  recorded_at: Thu, 11 May 2017 15:27:31 GMT
- request:
    method: get
    uri: http://worldcat.org/identities/search/PersonalIdentities?maximumRecords=1&query=local.FamilyName%20=%20%22Ross%22%20and%20local.OCLCNumber%20=%20%221760231%22&sortKeys=holdingscount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"  encoding=\"UTF-8\"?> \n<searchRetrieveResponse
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.loc.gov/zing/srw/ http://www.loc.gov/standards/sru/sru1-1archive/xml-files/srw-types.xsd\"
        xmlns=\"http://www.loc.gov/zing/srw/\"><version xsi:type=\"xsd:string\">1.1</version><numberOfRecords
        xsi:type=\"xsd:nonNegativeInteger\">1</numberOfRecords><resultSetIdleTime
        xsi:type=\"xsd:positiveInteger\">1</resultSetIdleTime><records xsi:type=\"ns1:recordsType\"
        xmlns:ns1=\"http://www.loc.gov/zing/srw/\"><record xsi:type=\"ns1:recordType\"><recordSchema
        xsi:type=\"xsd:string\">info:srw/schema/1/Identities</recordSchema><recordPacking
        xsi:type=\"xsd:string\">xml</recordPacking><recordData xsi:type=\"ns1:stringOrXmlFragment\"><Identity
        type=\"personal\" xmlns=\"\"><creationtime>Wed Mar 22 23:52:24 2017 UTC</creationtime><pnkey>lccn-n83301641</pnkey><audLevel><min><level>0.05</level><title>The
        New Yorker</title></min><avg><level>0.18</level></avg><max><level>1.00</level><title>Persistence
        of Virus and Bacteria in Seawater</title></max></audLevel><authorityInfo><viafid>5048336</viafid><wikidataid>Q1585917</wikidataid><wikiLink>Harold_Ross</wikiLink><lccn>n
        \ 83301641</lccn><arn>1073872</arn><x400><rawName><suba>Harold Ross Amerikaans
        journalist (1892-1951)</suba></rawName></x400><x400><rawName><suba>Harold
        Ross giornalista statunitense</suba></rawName></x400><x400><rawName><suba>Harold
        Ross US-amerikanischer Journalist und Gru&#x308;nder der Zeitung The New Yorker</suba></rawName></x400><x400><rawName><suba>Ross
        1892-1951</suba></rawName></x400><x400><rawName><suba>Ross Harold 1892-1951</suba></rawName></x400><x400><rawName><suba>Ross,
        Harold Wallace 1892-1951</suba></rawName></x400><x400><rawName><suba>Wallace
        Ross, Harold 1892-1951</suba></rawName></x400><x400><rawName><suba>&#x425;&#x430;&#x440;&#x43E;&#x43B;&#x44C;&#x434;
        &#x420;&#x43E;&#x441;&#x441;</suba></rawName></x400><x400><rawName><suba>&#x647;&#x627;&#x631;&#x648;&#x644;&#x62F;
        &#x631;&#x627;&#x633; &#x698;&#x648;&#x631;&#x646;&#x627;&#x644;&#x6CC;&#x633;&#x62A;
        &#x627;&#x653;&#x645;&#x631;&#x6CC;&#x6A9;&#x627;&#x6CC;&#x6CC;</suba></rawName></x400><x400><rawName><suba>&#x30D8;&#x30E9;&#x30EB;&#x30C8;&#x3099;&#x30FB;&#x30ED;&#x30B9;</suba></rawName></x400><x400><rawName><suba>&#x54C8;&#x7F85;&#x5FB7;&#xB7;&#x7F85;&#x65AF;</suba></rawName></x400></authorityInfo><associatedNames><name
        count=\"4452\"><normName>lccn-n79043666</normName><rawName><suba>White, Katharine
        Sergeant Angell</suba></rawName><relator count=\"4441\">edt</relator></name><name
        count=\"4450\"><normName>lccn-n79054648</normName><rawName><suba>White, E.
        B.</suba><subq>(Elwyn Brooks)</subq><subd>1899-1985</subd></rawName><relator
        count=\"4437\">ctb</relator></name><name count=\"4438\"><normName>lccn-nr94026392</normName><rawName><suba>Irvin,
        Rea</suba><subd>1881-1972</subd></rawName></name><name count=\"2283\"><normName>lccn-n80036584</normName><rawName><suba>Thurber,
        James</suba><subd>1894-1961</subd></rawName><relator count=\"70\">ill</relator><relator
        count=\"2210\">aut</relator></name><name count=\"1455\"><normName>lccn-n94084623</normName><rawName><suba>Kunkel,
        Thomas</suba><subd>1955-</subd></rawName><relator count=\"894\">aut</relator><relator
        count=\"1\">edt</relator></name><name count=\"624\"><normName>lccn-n80034206</normName><rawName><suba>Kramer,
        Dale</suba></rawName><relator count=\"624\">aut</relator></name><name count=\"619\"><normName>lccn-n85347892</normName><rawName><suba>Grant,
        Jane C.</suba><subd>1892-1972</subd></rawName><relator count=\"618\">aut</relator></name><name
        count=\"191\"><normName>lccn-n81111703</normName><rawName><suba>First-Run
        Features (Firm)</suba></rawName></name><name count=\"165\"><normName>lccn-n2006048667</normName><rawName><suba>Van
        Doren, Adam</suba></rawName><relator count=\"50\">drt</relator></name><name
        count=\"159\"><normName>lccn-no96006547</normName><rawName><suba>Tucci, Stanley</suba></rawName><relator
        count=\"50\">nrt</relator></name></associatedNames><nameInfo type=\"personal\"><rawName><suba>Ross,
        Harold Wallace</suba><subd>1892-1951</subd></rawName><genres><genre count=\"5998\"
        norm=\"1411641\">Periodicals</genre><genre count=\"5543\" norm=\"1423796\">Directories</genre><genre
        count=\"557\" norm=\"1423917\">Records and correspondence</genre><genre count=\"282\"
        norm=\"1423686\">Biography</genre><genre count=\"6\" norm=\"1411628\">History</genre><genre
        count=\"2\" norm=\"1423900\">Sources</genre></genres><fastHeadings><fast count=\"6328\"
        norm=\"1204333\" size=\"5\" tag=\"651\">New York (State)--New York</fast><fast
        count=\"5725\" norm=\"975769\" size=\"5\" tag=\"650\">Intellectual life</fast><fast
        count=\"5666\" norm=\"999953\" size=\"5\" tag=\"650\">Literature</fast><fast
        count=\"5215\" norm=\"125192\" size=\"5\" tag=\"600\">Ross, Harold Wallace,</fast><fast
        count=\"4100\" norm=\"1788224\" size=\"5\" tag=\"630\">New Yorker (New York,
        N.Y. : 1925)</fast><fast count=\[...]
[...]
- request:
    method: post
    uri: http://solr.library.edu/select?wt=ruby
    body:
      encoding: US-ASCII
      string: fq=type%3ASfx4%5C%3A%5C%3ALocal%5C%3A%5C%3AAzTitle&sort=score+desc%2C+title_sort_s+asc&q=NEW+YORKER&fl=*+score&qf=title_text%5E1.0&defType=edismax&bq=title_exact_sm%3ANEW%5C+YORKER%5E10.0&start=0&rows=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Webr-Backend:
      - "/10.158.143.47:8180"
      X-Webr-Id:
      - a3c58d10-3661-11e7-8750-22000b128902
    body:
      encoding: UTF-8
      string: "{'responseHeader'=>{'partialResults'=>true,'status'=>0,'QTime'=>1363,'params'=>{'q'=>'NEW
        YORKER','defType'=>'edismax','qf'=>'title_text^1.0','fl'=>'* score','start'=>'0','fq'=>'type:Sfx4\\\\:\\\\:Local\\\\:\\\\:AzTitle','sort'=>'score
        desc, title_sort_s asc','rows'=>'20','wt'=>'ruby','bq'=>'title_exact_sm:NEW\\\\
        YORKER^10.0'}},'response'=>{'numFound'=>1,'start'=>0,'maxScore'=>0.5583783,'docs'=>[{'id'=>'Sfx4::Local::AzTitle
        152836','object_id_ss'=>'3170000000048938','title_display_ss'=>'New Yorker
        Musik Zeitung','issn_ss'=>'','isbn_ss'=>'','lccn_ss'=>'','_version_'=>1566089238030581762,'timestamp'=>'2017-04-30T07:58:03.482Z','score'=>0.5583783}]}}\n"
  recorded_at: Thu, 11 May 2017 15:51:05 GMT
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxlcl41?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-05-11T11:51:06-04:00&ctx_ver=Z39.88-2004&req.ip=128.122.0.0&rfr_id=info:sid/sfxit.com:citation&rft.jtitle=New%20Yorker%20Musik%20Zeitung&rft.object_id=3170000000048938&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-A[...]
[...]
- request:
    method: get
    uri: http://sfx.med.nyu.edu/sfxlcl3?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-05-11T11:52:34-04:00&ctx_ver=Z39.88-2004&req.ip=216.165.125.0&rfr_id=info:sid/sfxit.com:citation&rft.jtitle=New%20Yorker%20Musik%20Zeitung&rft.object_id=3170000000048938&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?>

        <ctx_obj_set>
         <ctx_obj identifier="">
          <ctx_obj_attributes>&lt;perldata&gt;
         &lt;hash&gt;
          &lt;item key="ctx_tim"&gt;2017-05-11T11:52:34-04:00&lt;/item&gt;
          &lt;item key="sfx.request_id"&gt;2291183&lt;/item&gt;
          &lt;item key="rft.genre"&gt;journal&lt;/item&gt;
          &lt;item key="sfx.show_availability"&gt;1&lt;/item&gt;
          &lt;item key="sfx.ignore_date_threshold"&gt;1&lt;/item&gt;
          &lt;item key="rft.pub"&gt;American Antiquarian Society&lt;/item&gt;
      [...]
[...]
- request:
    method: get
    uri: http://sfx4.library.newschool.edu/ns?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-05-11T11:52:39-04:00&ctx_ver=Z39.88-2004&req.ip=149.31.0.0&rfr_id=info:sid/sfxit.com:citation&rft.jtitle=New%20Yorker%20Musik%20Zeitung&rft.object_id=3170000000048938&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-A[...]
- request:
    method: get
    uri: http://recommender.service.exlibrisgroup.com/service/recommender/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-05-11T11:52:40-04:00&ctx_ver=Z39.88-2004&req.ip=149.31.0.0&res_dat=format=rss%26source=global%26token=NS_BX_TOKEN%26maxRecords=2%26threshold=50%26baseUrl=/ns/resolve?&rfr_id=info:sid/sfxit.com:citation&rft.genre=journal&rft.jtitle=New%20Yorker%20Musik%20Zeitung&rft.language=eng&rft.object_id=3170000000048938&rft.pub=American%20Antiquarian%20Society&rft.title=New%20Yorker%20Musik%20Zeitung&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<rss xmlns:bx=\"http://bx.exlibrisgroup.com/docs/schema/bx\"
        version=\"2.0\">\r\n  <channel>\r\n    <title />\r\n    <link />\r\n    <description
        />\r\n    <bx:statusCode code=\"01\" name=\"emptyList\">no matching documents
        were found</bx:statusCode>\r\n  </channel>\r\n</rss>\r\n\r\n"
  recorded_at: Thu, 11 May 2017 15:52:40 GMT
[...]
- request:
    method: get
    uri: http://sfx.library.nyu.edu/sfxcooper?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-05-11T11:53:09-04:00&ctx_ver=Z39.88-2004&req.ip=199.98.16.0&rfr_id=info:sid/sfxit.com:citation&rft.jtitle=New%20Yorker%20Musik%20Zeitung&rft.object_id=3170000000048938&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&sfx.ignore_date_threshold=1&sfx.response_type=multi_obj_xml&sfx.show_availability=1&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-[...]
[...]
- request:
    method: get
    uri: http://recommender.service.exlibrisgroup.com/service/recommender/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-05-11T12:23:52-04:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.8&res_dat=format=rss%26source=global%26token=NS_BX_TOKEN%26maxRecords=2%26threshold=50%26baseUrl=/ns/resolve?&rfr_id=info:sid/sfxit.com:citation&rft.genre=journal&rft.jtitle=New%20Yorker%20Musik%20Zeitung&rft.language=eng&rft.object_id=3170000000048938&rft.pub=American%20Antiquarian%20Society&rft.title=New%20Yorker%20Musik%20Zeitung&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: invalid token value
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\">\n<html>\n<head>\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n<title>Error
        401</title>\n<link href=\"/service/css/error.css\" rel=\"stylesheet\" type=\"text/css\"
        />\n</head>\n<body>\n<div id=\"topbarContainer\">\n\t<div id=\"topbar\">\n\t\t<div
        id=\"logo\" class=\"logo\">\n\t\t\t<a href=\"/service/images/logo.gif\"><img
        src=\"/service/images/logo.gif\" alt=\"ExLibris Logo\" /></a>\n\t\t</div>\n\t</div>\n</div>\n<br></br><br></br><br></br><br></br><br></br>\n<center><p
        style=\"padding: 0px 15px 0px 15px\">bX recommender HTTP Error 401 Unauthorized\n</p></center>\n</body>\n</html>"
  recorded_at: Thu, 11 May 2017 16:23:52 GMT
[...]
- request:
    method: get
    uri: http://recommender.service.exlibrisgroup.com/service/recommender/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2017-08-03T13:11:04%2B00:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.8&res_dat=format=rss%26source=global%26token=NS_BX_TOKEN%26maxRecords=2%26threshold=50%26baseUrl=/ns/resolve?&rft.aufirst=Harold%20Wallace,&rft.aulast=Ross&rft.eissn=2163-3827&rft.genre=journal&rft.issn=0028-792X&rft.jtitle=The%20New%20Yorker&rft.language=eng&rft.lccn=%20%202011201780[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-hol-list><reply-text>ok</reply-text><reply-code>0000</reply-code><holdings><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807742"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807743"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60004671371"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358492"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358493"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358494"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60004982921"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358496"></holding></holdings></get-hol-list> '
  recorded_at: Tue, 15 Aug 2017 20:11:32 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807742
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-hol><reply-text>ok</reply-text><reply-code>0000</reply-code><holding><leader>     ny  a22     3i
        4500</leader><controlfield tag="001">003807742</controlfield><controlfield
        tag="004">002904404</controlfield><controlfield tag="007">ta</controlfield><controlfield
        tag="008">0905194p    8   0001aaeng1000000</controlfield><datafield tag="852"
        ind1=" " ind2=" "><subfield code="b">CU</subfield><subfield code="c">PERIO</subfield><subfield
        code="m">Non-circulating</subfield><subfield code="a">NNCoo</subfield></datafield><datafield
        tag="866" ind1="3" ind2="1"><subfield code="8">1</subfield><subfield code="a">v.81(2005)-</subfield></datafield></holding></get-hol> '
  recorded_at: Tue, 15 Aug 2017 20:11:32 GMT
[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbiA9ICIxLjAiIGVuY29kaW5nID0gIlVURi04Ij8+PGdldC1yZWNvcmQ+PHJlcGx5LXRleHQ+b2s8L3JlcGx5LXRleHQ+PHJlcGx5LWNvZGU+MDAwMDwvcmVwbHktY29[...]
[...]
- request:
    method: get
    uri: http://recommender.service.exlibrisgroup.com/service/recommender/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=&ctx_tim=2020-02-03T18:29:29%2B00:00&ctx_ver=Z39.88-2004&req.ip=127.0.0.8&res_dat=format=rss%26source=global%26token=NS_BX_TOKEN%26maxRecords=2%26threshold=50%26baseUrl=/ns/resolve?&rft.object_id=110975413975944&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string[...]
